<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/components/instructions/EditorInstructionScreen.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.components.instructions
</span>2 <span style=''>
</span>3 <span style=''>import it.unibo.osmos.redux.mvc.view.components.level.LevelScreen
</span>4 <span style=''>import it.unibo.osmos.redux.mvc.view.components.level.LevelScreen.LevelScreenImpl
</span>5 <span style=''>import it.unibo.osmos.redux.mvc.view.scenes.BaseScene
</span>6 <span style=''>import scalafx.scene.paint.Color
</span>7 <span style=''>
</span>8 <span style=''>/** Instruction screen player in the editor
</span>9 <span style=''>  *
</span>10 <span style=''>  * @param scene the scene
</span>11 <span style=''>  */
</span>12 <span style=''>class EditorInstructionScreen(val scene: BaseScene) {
</span>13 <span style=''>
</span>14 <span style=''>  /** The instruction screen */
</span>15 <span style=''>  private val _instructionScreen = </span><span style='background: #F0ADAD'>LevelScreen.Builder(scene)
</span>16 <span style=''></span><span style='background: #F0ADAD'>    .withText(&quot;Instructions&quot;, 50, Color.White)
</span>17 <span style=''></span><span style='background: #F0ADAD'>    .withText(&quot;Press [Ctrl] to toggle the placeholder visibility&quot;)
</span>18 <span style=''></span><span style='background: #F0ADAD'>    .withText(&quot;Configure the desired entities on the left panel&quot;)
</span>19 <span style=''></span><span style='background: #F0ADAD'>    .withText(&quot;Configure the desired level, victory rule and collision rule on the right panel&quot;)
</span>20 <span style=''></span><span style='background: #F0ADAD'>    .withText(&quot;When the placeholder is visible, click to insert a new entity on the level&quot;)
</span>21 <span style=''></span><span style='background: #F0ADAD'>    .withText(&quot;Press [H] to show/hide the instructions screen&quot;, 20, Color.White)
</span>22 <span style=''></span><span style='background: #F0ADAD'>    .build()</span><span style=''>
</span>23 <span style=''>
</span>24 <span style=''>  /** Instruction screen getter */
</span>25 <span style=''>  def instructionScreen: LevelScreenImpl = </span><span style='background: #F0ADAD'>_instructionScreen</span><span style=''>
</span>26 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          4041
        </td>
        <td>
          501
          -
          990
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.level.LevelScreen.Builder.build
        </td>
        <td style="background: #F0ADAD">
          {
  &lt;artifact&gt; val qual$4: it.unibo.osmos.redux.mvc.view.components.level.LevelScreen.Builder = {
    &lt;artifact&gt; val qual$3: it.unibo.osmos.redux.mvc.view.components.level.LevelScreen.Builder = {
      &lt;artifact&gt; val qual$2: it.unibo.osmos.redux.mvc.view.components.level.LevelScreen.Builder = {
        &lt;artifact&gt; val qual$1: it.unibo.osmos.redux.mvc.view.components.level.LevelScreen.Builder = it.unibo.osmos.redux.mvc.view.components.level.LevelScreen.Builder.apply(EditorInstructionScreen.this.scene).withText(&quot;Instructions&quot;, 50.0, scalafx.scene.paint.Color.White);
        &lt;artifact&gt; val x$1: String = &quot;Press [Ctrl] to toggle the placeholder visibility&quot;;
        &lt;artifact&gt; val x$2: Double = qual$1.withText$default$2;
        &lt;artifact&gt; val x$3: scalafx.scene.paint.Color = qual$1.withText$default$3;
        qual$1.withText(x$1, x$2, x$3)
      };
      &lt;artifact&gt; val x$4: String = &quot;Configure the desired entities on the left panel&quot;;
      &lt;artifact&gt; val x$5: Double = qual$2.withText$default$2;
      &lt;artifact&gt; val x$6: scalafx.scene.paint.Color = qual$2.withText$default$3;
      qual$2.withText(x$4, x$5, x$6)
    };
    &lt;artifact&gt; val x$7: String = &quot;Configure the desired level, victory rule and collision rule on the right panel&quot;;
    &lt;artifact&gt; val x$8: Double = qual$3.withText$default$2;
    &lt;artifact&gt; val x$9: scalafx.scene.paint.Color = qual$3.withText$default$3;
    qual$3.withText(x$7, x$8, x$9)
  };
  &lt;artifact&gt; val x$10: String = &quot;When the placeholder is visible, click to insert a new entity on the level&quot;;
  &lt;artifact&gt; val x$11: Double = qual$4.withText$default$2;
  &lt;artifact&gt; val x$12: scalafx.scene.paint.Color = qual$4.withText$default$3;
  qual$4.withText(x$10, x$11, x$12)
}.withText(&quot;Press [H] to show/hide the instructions screen&quot;, 20.0, scalafx.scene.paint.Color.White).build()
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          4042
        </td>
        <td>
          1070
          -
          1088
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.instructions.EditorInstructionScreen._instructionScreen
        </td>
        <td style="background: #F0ADAD">
          EditorInstructionScreen.this._instructionScreen
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>