.root {
  -fx-background-image: url("../textures/background.png");
  -fx-background-position: center center;
  -fx-background-size: cover;
}

.default-style-button {
  -fx-background-color: gray;
  -fx-background-radius: 30;
  -fx-background-insets: 0,1,1;
  -fx-text-fill: black;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
  -fx-font-size: 20px;
  -fx-pref-width: 200px;
}

.default-style-button:hover {
  -fx-background-color: white;
}
