<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/View.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view
</span>2 <span style=''>
</span>3 <span style=''>import it.unibo.osmos.redux.ecs.entities.CellEntity
</span>4 <span style=''>import it.unibo.osmos.redux.mvc.controller.Controller
</span>5 <span style=''>import it.unibo.osmos.redux.mvc.controller.levels.structure._
</span>6 <span style=''>import it.unibo.osmos.redux.mvc.view.components.custom.AlertFactory
</span>7 <span style=''>import it.unibo.osmos.redux.mvc.view.components.multiplayer.User
</span>8 <span style=''>import it.unibo.osmos.redux.mvc.view.context.{LevelContext, LobbyContext}
</span>9 <span style=''>import it.unibo.osmos.redux.mvc.view.stages.{OsmosReduxPrimaryStage, PrimaryStageListener}
</span>10 <span style=''>import it.unibo.osmos.redux.utils.GenericResponse
</span>11 <span style=''>import scalafx.application.{JFXApp, Platform}
</span>12 <span style=''>
</span>13 <span style=''>import scala.concurrent.{ExecutionContext, ExecutionContextExecutor}
</span>14 <span style=''>import scala.util.{Failure, Success}
</span>15 <span style=''>
</span>16 <span style=''>/** View base trait */
</span>17 <span style=''>trait View {
</span>18 <span style=''>
</span>19 <span style=''>
</span>20 <span style=''>  /** Setter. This method sets the reference to the Controller instance
</span>21 <span style=''>    *
</span>22 <span style=''>    * @param controller the Controller instance
</span>23 <span style=''>    */
</span>24 <span style=''>  def setController(controller: Controller)
</span>25 <span style=''>
</span>26 <span style=''>}
</span>27 <span style=''>
</span>28 <span style=''>object View {
</span>29 <span style=''>
</span>30 <span style=''>  def apply(app: JFXApp): View = </span><span style='background: #F0ADAD'>new ViewImpl(app)</span><span style=''>
</span>31 <span style=''>
</span>32 <span style=''>  /** View implementation, holding the main stage and the current scene
</span>33 <span style=''>    *
</span>34 <span style=''>    * @param app a reference to the JFXApp, necessary to the correct setup of the whole application
</span>35 <span style=''>    */
</span>36 <span style=''>  class ViewImpl(private val app: JFXApp) extends View with PrimaryStageListener {
</span>37 <span style=''>
</span>38 <span style=''>    /** Implicit executor */
</span>39 <span style=''>    implicit val executionContextExecutor: ExecutionContextExecutor = </span><span style='background: #F0ADAD'>ExecutionContext.global</span><span style=''>
</span>40 <span style=''>
</span>41 <span style=''>    /** Setting the primary stage */
</span>42 <span style=''>    </span><span style='background: #F0ADAD'>app.stage = OsmosReduxPrimaryStage(this)</span><span style=''>
</span>43 <span style=''>    private var controller: Option[Controller] = </span><span style='background: #F0ADAD'>Option.empty</span><span style=''>
</span>44 <span style=''>
</span>45 <span style=''>    override def setController(controller: Controller): Unit = {
</span>46 <span style=''>      </span><span style='background: #F0ADAD'>this.controller = Option(controller)</span><span style=''>
</span>47 <span style=''>    }
</span>48 <span style=''>
</span>49 <span style=''>    override def onLevelContextCreated(levelContext: LevelContext, level: String, isCustom: Boolean = false): Boolean = {
</span>50 <span style=''>      </span><span style='background: #F0ADAD'>controller</span><span style=''> match {
</span>51 <span style=''>        case Some(c) =&gt;
</span>52 <span style=''>          </span><span style='background: #F0ADAD'>c.initLevel(levelContext, level, isCustom)</span><span style=''> match {
</span>53 <span style=''>            case Failure(t) =&gt;
</span>54 <span style=''>              </span><span style='background: #F0ADAD'>AlertFactory.createErrorAlert(&quot;Unable to start level&quot;, t.getMessage).showAndWait()</span><span style=''>
</span>55 <span style=''>              </span><span style='background: #F0ADAD'>false</span><span style=''>
</span>56 <span style=''>            case _ =&gt; </span><span style='background: #F0ADAD'>true</span><span style=''>
</span>57 <span style=''>          }
</span>58 <span style=''>        case None =&gt; </span><span style='background: #F0ADAD'>false</span><span style=''>
</span>59 <span style=''>      }
</span>60 <span style=''>    }
</span>61 <span style=''>
</span>62 <span style=''>    override def getSingleLevels: List[LevelInfo] = </span><span style='background: #F0ADAD'>controller</span><span style=''> match {
</span>63 <span style=''>      case Some(c) =&gt; </span><span style='background: #F0ADAD'>c.getSinglePlayerLevels</span><span style=''>
</span>64 <span style=''>      case _ =&gt; </span><span style='background: #F0ADAD'>List()</span><span style=''>
</span>65 <span style=''>    }
</span>66 <span style=''>
</span>67 <span style=''>    override def getCustomLevels: List[LevelInfo] = </span><span style='background: #F0ADAD'>controller</span><span style=''> match {
</span>68 <span style=''>      case Some(c) =&gt; </span><span style='background: #F0ADAD'>c.getCustomLevels</span><span style=''>
</span>69 <span style=''>      case _ =&gt; </span><span style='background: #F0ADAD'>List()</span><span style=''>
</span>70 <span style=''>    }
</span>71 <span style=''>
</span>72 <span style=''>    override def getMultiPlayerLevels: List[LevelInfo] = </span><span style='background: #F0ADAD'>controller</span><span style=''> match {
</span>73 <span style=''>      case Some(c) =&gt; </span><span style='background: #F0ADAD'>c.getMultiPlayerLevels</span><span style=''>
</span>74 <span style=''>      case _ =&gt; </span><span style='background: #F0ADAD'>List()</span><span style=''>
</span>75 <span style=''>    }
</span>76 <span style=''>
</span>77 <span style=''>    override def getCampaignLevels: List[CampaignLevel] = </span><span style='background: #F0ADAD'>controller</span><span style=''> match {
</span>78 <span style=''>      case Some(c) =&gt; </span><span style='background: #F0ADAD'>c.getCampaignLevels</span><span style=''>
</span>79 <span style=''>      case _ =&gt; </span><span style='background: #F0ADAD'>List()</span><span style=''>
</span>80 <span style=''>    }
</span>81 <span style=''>
</span>82 <span style=''>    override def onSaveLevel(name: String,
</span>83 <span style=''>                             map: MapShape, victoryRules: VictoryRules.Value, collisionRules: CollisionRules.Value,
</span>84 <span style=''>                             entities: Seq[CellEntity],
</span>85 <span style=''>                             callback: Boolean =&gt; Unit): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; callback(controller.get.saveLevel(name, map, victoryRules, collisionRules, entities)))</span><span style=''>
</span>86 <span style=''>
</span>87 <span style=''>    override def onDeleteLevel(level: String, callback: Boolean =&gt; Unit): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; callback(controller.get.removeLevel(level)))</span><span style=''>
</span>88 <span style=''>
</span>89 <span style=''>    override def onStartLevel(): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; controller.get.startLevel())</span><span style=''>
</span>90 <span style=''>
</span>91 <span style=''>    override def onPauseLevel(): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; controller.get.pauseLevel())</span><span style=''>
</span>92 <span style=''>
</span>93 <span style=''>    override def onResumeLevel(): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; controller.get.resumeLevel())</span><span style=''>
</span>94 <span style=''>
</span>95 <span style=''>    override def onStopLevel(victory: Boolean): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; controller.get.stopLevel(victory))</span><span style=''>
</span>96 <span style=''>
</span>97 <span style=''>    override def onLevelSpeedChanged(increment: Boolean): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; controller.get.changeLevelSpeed(increment))</span><span style=''>
</span>98 <span style=''>
</span>99 <span style=''>    /** After checking the controller, we ask to enter the lobby asynchronously and call the callback function after the future result
</span>100 <span style=''>      *
</span>101 <span style=''>      * @param user         the user requesting to enter the lobby
</span>102 <span style=''>      * @param lobbyContext the lobby context, which may be used by the server to configure existing lobby users
</span>103 <span style=''>      * @param callback     the callback
</span>104 <span style=''>      */
</span>105 <span style=''>    override def onLobbyRequest(user: User, levelInfo: Option[LevelInfo], lobbyContext: LobbyContext, callback: (User, Option[LevelInfo], LobbyContext, GenericResponse[Boolean]) =&gt; Unit): Unit =
</span>106 <span style=''>      </span><span style='background: #F0ADAD'>checkController(() =&gt; controller.get.initLobby(user, lobbyContext).future.onComplete {
</span>107 <span style=''></span><span style='background: #F0ADAD'>        case Success(value) =&gt; callback(user, levelInfo, lobbyContext, value)
</span>108 <span style=''></span><span style='background: #F0ADAD'>        case Failure(e) =&gt; onDisplayError(&quot;Connection call succeeded but did not receive response&quot;)
</span>109 <span style=''></span><span style='background: #F0ADAD'>      })</span><span style=''>
</span>110 <span style=''>
</span>111 <span style=''>    override def onStartMultiPlayerGameClick(levelInfo: LevelInfo): Unit = </span><span style='background: #F0ADAD'>checkController(() =&gt; controller.get.initMultiPlayerLevel(levelInfo).future.onComplete {
</span>112 <span style=''></span><span style='background: #F0ADAD'>      case Failure(e) =&gt; onDisplayError(&quot;Failed controller init&quot;)
</span>113 <span style=''></span><span style='background: #F0ADAD'>      case Success(_) =&gt; //do nothing
</span>114 <span style=''></span><span style='background: #F0ADAD'>    })</span><span style=''>
</span>115 <span style=''>
</span>116 <span style=''>    /** Utility method that checks if controller is not empty and execute f() if that is the case
</span>117 <span style=''>      *
</span>118 <span style=''>      * @param f the function which will be executed if controller is not empty
</span>119 <span style=''>      */
</span>120 <span style=''>    private def checkController(f: () =&gt; Unit): Unit = </span><span style='background: #F0ADAD'>controller</span><span style=''> match {
</span>121 <span style=''>      case Some(_) =&gt; </span><span style='background: #F0ADAD'>f()</span><span style=''>
</span>122 <span style=''>      case _ </span><span style='background: #F0ADAD'>=&gt;</span><span style=''>
</span>123 <span style=''>    }
</span>124 <span style=''>
</span>125 <span style=''>    def onDisplayError(message: String): Unit = {
</span>126 <span style=''>      </span><span style='background: #F0ADAD'>Platform.runLater {
</span>127 <span style=''></span><span style='background: #F0ADAD'>        AlertFactory.createErrorAlert(&quot;Error occurred&quot;, message).showAndWait()
</span>128 <span style=''></span><span style='background: #F0ADAD'>      }</span><span style=''>
</span>129 <span style=''>    }
</span>130 <span style=''>
</span>131 <span style=''>  }
</span>132 <span style=''>
</span>133 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          30
        </td>
        <td>
          3308
        </td>
        <td>
          976
          -
          993
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new View.this.ViewImpl(app)
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          3309
        </td>
        <td>
          1363
          -
          1386
        </td>
        <td>
          Select
        </td>
        <td>
          scala.concurrent.ExecutionContext.global
        </td>
        <td style="background: #F0ADAD">
          scala.concurrent.ExecutionContext.global
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          3313
        </td>
        <td>
          1429
          -
          1469
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.application.JFXApp.stage_=
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.app.stage_=(it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply(this, it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$2, it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$3))
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          3310
        </td>
        <td>
          1441
          -
          1441
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$2
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$2
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          3312
        </td>
        <td>
          1441
          -
          1469
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply(this, it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$2, it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$3)
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          3311
        </td>
        <td>
          1441
          -
          1441
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$3
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.mvc.view.stages.OsmosReduxPrimaryStage.apply$default$3
        </td>
      </tr><tr>
        <td>
          43
        </td>
        <td>
          3314
        </td>
        <td>
          1519
          -
          1531
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.Option.empty
        </td>
        <td style="background: #F0ADAD">
          scala.Option.empty[Nothing]
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          3316
        </td>
        <td>
          1604
          -
          1640
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.controller_=
        </td>
        <td style="background: #F0ADAD">
          this.controller_=(scala.Option.apply[it.unibo.osmos.redux.mvc.controller.Controller](controller))
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          3315
        </td>
        <td>
          1622
          -
          1640
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Option.apply
        </td>
        <td style="background: #F0ADAD">
          scala.Option.apply[it.unibo.osmos.redux.mvc.controller.Controller](controller)
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          3317
        </td>
        <td>
          1776
          -
          1786
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.controller
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller
        </td>
      </tr><tr>
        <td>
          52
        </td>
        <td>
          3318
        </td>
        <td>
          1829
          -
          1871
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.initLevel
        </td>
        <td style="background: #F0ADAD">
          c.initLevel(levelContext, level, isCustom)
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          3319
        </td>
        <td>
          1925
          -
          2007
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.Alert.showAndWait
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.mvc.view.components.custom.AlertFactory.createErrorAlert(&quot;Unable to start level&quot;, t.getMessage()).showAndWait()
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          3320
        </td>
        <td>
          2022
          -
          2027
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          false
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          3321
        </td>
        <td>
          2050
          -
          2054
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          true
        </td>
      </tr><tr>
        <td>
          58
        </td>
        <td>
          3322
        </td>
        <td>
          2088
          -
          2093
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          false
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          3323
        </td>
        <td>
          2161
          -
          2171
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.controller
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller
        </td>
      </tr><tr>
        <td>
          63
        </td>
        <td>
          3324
        </td>
        <td>
          2202
          -
          2225
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.getSinglePlayerLevels
        </td>
        <td style="background: #F0ADAD">
          c.getSinglePlayerLevels
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          3325
        </td>
        <td>
          2242
          -
          2248
        </td>
        <td>
          Select
        </td>
        <td>
          scala.collection.immutable.Nil
        </td>
        <td style="background: #F0ADAD">
          scala.collection.immutable.Nil
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          3326
        </td>
        <td>
          2308
          -
          2318
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.controller
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller
        </td>
      </tr><tr>
        <td>
          68
        </td>
        <td>
          3327
        </td>
        <td>
          2349
          -
          2366
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.getCustomLevels
        </td>
        <td style="background: #F0ADAD">
          c.getCustomLevels
        </td>
      </tr><tr>
        <td>
          69
        </td>
        <td>
          3328
        </td>
        <td>
          2383
          -
          2389
        </td>
        <td>
          Select
        </td>
        <td>
          scala.collection.immutable.Nil
        </td>
        <td style="background: #F0ADAD">
          scala.collection.immutable.Nil
        </td>
      </tr><tr>
        <td>
          72
        </td>
        <td>
          3329
        </td>
        <td>
          2454
          -
          2464
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.controller
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller
        </td>
      </tr><tr>
        <td>
          73
        </td>
        <td>
          3330
        </td>
        <td>
          2495
          -
          2517
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.getMultiPlayerLevels
        </td>
        <td style="background: #F0ADAD">
          c.getMultiPlayerLevels
        </td>
      </tr><tr>
        <td>
          74
        </td>
        <td>
          3331
        </td>
        <td>
          2534
          -
          2540
        </td>
        <td>
          Select
        </td>
        <td>
          scala.collection.immutable.Nil
        </td>
        <td style="background: #F0ADAD">
          scala.collection.immutable.Nil
        </td>
      </tr><tr>
        <td>
          77
        </td>
        <td>
          3332
        </td>
        <td>
          2606
          -
          2616
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.controller
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller
        </td>
      </tr><tr>
        <td>
          78
        </td>
        <td>
          3333
        </td>
        <td>
          2647
          -
          2666
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.getCampaignLevels
        </td>
        <td style="background: #F0ADAD">
          c.getCampaignLevels
        </td>
      </tr><tr>
        <td>
          79
        </td>
        <td>
          3334
        </td>
        <td>
          2683
          -
          2689
        </td>
        <td>
          Select
        </td>
        <td>
          scala.collection.immutable.Nil
        </td>
        <td style="background: #F0ADAD">
          scala.collection.immutable.Nil
        </td>
      </tr><tr>
        <td>
          85
        </td>
        <td>
          3336
        </td>
        <td>
          2998
          -
          3083
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Function1.apply
        </td>
        <td style="background: #F0ADAD">
          callback.apply(ViewImpl.this.controller.get.saveLevel(name, map, victoryRules, collisionRules, entities))
        </td>
      </tr><tr>
        <td>
          85
        </td>
        <td>
          3335
        </td>
        <td>
          3007
          -
          3082
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.saveLevel
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.saveLevel(name, map, victoryRules, collisionRules, entities)
        </td>
      </tr><tr>
        <td>
          85
        </td>
        <td>
          3337
        </td>
        <td>
          2976
          -
          3084
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; callback.apply(ViewImpl.this.controller.get.saveLevel(name, map, victoryRules, collisionRules, entities))))
        </td>
      </tr><tr>
        <td>
          87
        </td>
        <td>
          3340
        </td>
        <td>
          3167
          -
          3233
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; callback.apply(ViewImpl.this.controller.get.removeLevel(level))))
        </td>
      </tr><tr>
        <td>
          87
        </td>
        <td>
          3339
        </td>
        <td>
          3189
          -
          3232
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Function1.apply
        </td>
        <td style="background: #F0ADAD">
          callback.apply(ViewImpl.this.controller.get.removeLevel(level))
        </td>
      </tr><tr>
        <td>
          87
        </td>
        <td>
          3338
        </td>
        <td>
          3198
          -
          3231
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.removeLevel
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.removeLevel(level)
        </td>
      </tr><tr>
        <td>
          89
        </td>
        <td>
          3342
        </td>
        <td>
          3275
          -
          3325
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; ViewImpl.this.controller.get.startLevel()))
        </td>
      </tr><tr>
        <td>
          89
        </td>
        <td>
          3341
        </td>
        <td>
          3297
          -
          3324
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.startLevel
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.startLevel()
        </td>
      </tr><tr>
        <td>
          91
        </td>
        <td>
          3343
        </td>
        <td>
          3389
          -
          3416
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.pauseLevel
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.pauseLevel()
        </td>
      </tr><tr>
        <td>
          91
        </td>
        <td>
          3344
        </td>
        <td>
          3367
          -
          3417
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; ViewImpl.this.controller.get.pauseLevel()))
        </td>
      </tr><tr>
        <td>
          93
        </td>
        <td>
          3345
        </td>
        <td>
          3482
          -
          3510
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.resumeLevel
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.resumeLevel()
        </td>
      </tr><tr>
        <td>
          93
        </td>
        <td>
          3346
        </td>
        <td>
          3460
          -
          3511
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; ViewImpl.this.controller.get.resumeLevel()))
        </td>
      </tr><tr>
        <td>
          95
        </td>
        <td>
          3348
        </td>
        <td>
          3568
          -
          3624
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; ViewImpl.this.controller.get.stopLevel(victory)))
        </td>
      </tr><tr>
        <td>
          95
        </td>
        <td>
          3347
        </td>
        <td>
          3590
          -
          3623
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.stopLevel
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.stopLevel(victory)
        </td>
      </tr><tr>
        <td>
          97
        </td>
        <td>
          3349
        </td>
        <td>
          3713
          -
          3755
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.Controller.changeLevelSpeed
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.changeLevelSpeed(increment)
        </td>
      </tr><tr>
        <td>
          97
        </td>
        <td>
          3350
        </td>
        <td>
          3691
          -
          3756
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; ViewImpl.this.controller.get.changeLevelSpeed(increment)))
        </td>
      </tr><tr>
        <td>
          106
        </td>
        <td>
          3354
        </td>
        <td>
          4354
          -
          4604
        </td>
        <td>
          ApplyToImplicitArgs
        </td>
        <td>
          scala.concurrent.Future.onComplete
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.initLobby(user, lobbyContext).future.onComplete[Unit](((x0$1: scala.util.Try[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]) =&gt; x0$1 match {
  case (value: it.unibo.osmos.redux.utils.GenericResponse[Boolean])scala.util.Success[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]((value @ _)) =&gt; callback.apply(user, levelInfo, lobbyContext, value)
  case (exception: Throwable)scala.util.Failure[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]((e @ _)) =&gt; ViewImpl.this.onDisplayError(&quot;Connection call succeeded but did not receive response&quot;)
}))(ViewImpl.this.executionContextExecutor)
        </td>
      </tr><tr>
        <td>
          106
        </td>
        <td>
          3353
        </td>
        <td>
          4417
          -
          4417
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.executionContextExecutor
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.executionContextExecutor
        </td>
      </tr><tr>
        <td>
          106
        </td>
        <td>
          3355
        </td>
        <td>
          4332
          -
          4605
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; ViewImpl.this.controller.get.initLobby(user, lobbyContext).future.onComplete[Unit](((x0$1: scala.util.Try[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]) =&gt; x0$1 match {
  case (value: it.unibo.osmos.redux.utils.GenericResponse[Boolean])scala.util.Success[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]((value @ _)) =&gt; callback.apply(user, levelInfo, lobbyContext, value)
  case (exception: Throwable)scala.util.Failure[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]((e @ _)) =&gt; ViewImpl.this.onDisplayError(&quot;Connection call succeeded but did not receive response&quot;)
}))(ViewImpl.this.executionContextExecutor)))
        </td>
      </tr><tr>
        <td>
          107
        </td>
        <td>
          3351
        </td>
        <td>
          4450
          -
          4496
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Function4.apply
        </td>
        <td style="background: #F0ADAD">
          callback.apply(user, levelInfo, lobbyContext, value)
        </td>
      </tr><tr>
        <td>
          108
        </td>
        <td>
          3352
        </td>
        <td>
          4524
          -
          4596
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.onDisplayError
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.onDisplayError(&quot;Connection call succeeded but did not receive response&quot;)
        </td>
      </tr><tr>
        <td>
          111
        </td>
        <td>
          3358
        </td>
        <td>
          4769
          -
          4769
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.executionContextExecutor
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.executionContextExecutor
        </td>
      </tr><tr>
        <td>
          111
        </td>
        <td>
          3360
        </td>
        <td>
          4682
          -
          4881
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.checkController
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.checkController((() =&gt; ViewImpl.this.controller.get.initMultiPlayerLevel(levelInfo).future.onComplete[Unit](((x0$2: scala.util.Try[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]) =&gt; x0$2 match {
  case (exception: Throwable)scala.util.Failure[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]((e @ _)) =&gt; ViewImpl.this.onDisplayError(&quot;Failed controller init&quot;)
  case (value: it.unibo.osmos.redux.utils.GenericResponse[Boolean])scala.util.Success[it.unibo.osmos.redux.utils.GenericResponse[Boolean]](_) =&gt; ()
}))(ViewImpl.this.executionContextExecutor)))
        </td>
      </tr><tr>
        <td>
          111
        </td>
        <td>
          3359
        </td>
        <td>
          4704
          -
          4880
        </td>
        <td>
          ApplyToImplicitArgs
        </td>
        <td>
          scala.concurrent.Future.onComplete
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller.get.initMultiPlayerLevel(levelInfo).future.onComplete[Unit](((x0$2: scala.util.Try[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]) =&gt; x0$2 match {
  case (exception: Throwable)scala.util.Failure[it.unibo.osmos.redux.utils.GenericResponse[Boolean]]((e @ _)) =&gt; ViewImpl.this.onDisplayError(&quot;Failed controller init&quot;)
  case (value: it.unibo.osmos.redux.utils.GenericResponse[Boolean])scala.util.Success[it.unibo.osmos.redux.utils.GenericResponse[Boolean]](_) =&gt; ()
}))(ViewImpl.this.executionContextExecutor)
        </td>
      </tr><tr>
        <td>
          112
        </td>
        <td>
          3356
        </td>
        <td>
          4796
          -
          4836
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.onDisplayError
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.onDisplayError(&quot;Failed controller init&quot;)
        </td>
      </tr><tr>
        <td>
          113
        </td>
        <td>
          3357
        </td>
        <td>
          4859
          -
          4861
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          120
        </td>
        <td>
          3361
        </td>
        <td>
          5133
          -
          5143
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.View.ViewImpl.controller
        </td>
        <td style="background: #F0ADAD">
          ViewImpl.this.controller
        </td>
      </tr><tr>
        <td>
          121
        </td>
        <td>
          3362
        </td>
        <td>
          5174
          -
          5177
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Function0.apply
        </td>
        <td style="background: #F0ADAD">
          f.apply()
        </td>
      </tr><tr>
        <td>
          122
        </td>
        <td>
          3363
        </td>
        <td>
          5191
          -
          5193
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          126
        </td>
        <td>
          3365
        </td>
        <td>
          5257
          -
          5363
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.application.Platform.runLater
        </td>
        <td style="background: #F0ADAD">
          scalafx.application.Platform.runLater[Option[scalafx.scene.control.ButtonType]](it.unibo.osmos.redux.mvc.view.components.custom.AlertFactory.createErrorAlert(&quot;Error occurred&quot;, message).showAndWait())
        </td>
      </tr><tr>
        <td>
          127
        </td>
        <td>
          3364
        </td>
        <td>
          5285
          -
          5355
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.Alert.showAndWait
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.mvc.view.components.custom.AlertFactory.createErrorAlert(&quot;Error occurred&quot;, message).showAndWait()
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>