<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/context/LobbyContext.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.context
</span>2 <span style=''>
</span>3 <span style=''>import it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo
</span>4 <span style=''>import it.unibo.osmos.redux.mvc.view.components.multiplayer.User
</span>5 <span style=''>import it.unibo.osmos.redux.mvc.view.events._
</span>6 <span style=''>import it.unibo.osmos.redux.utils.Logger
</span>7 <span style=''>
</span>8 <span style=''>/** Basic LobbyContext trait, seen both as a LobbyEventWrapper observable and observer */
</span>9 <span style=''>trait LobbyContext extends EventWrapperObserver[LobbyEventWrapper] with EventWrapperObservable[LobbyEventWrapper] {
</span>10 <span style=''>
</span>11 <span style=''>  /** The lobby current users */
</span>12 <span style=''>  private[this] var _users: Seq[User] = </span><span style='background: #F0ADAD'>Seq.empty</span><span style=''>
</span>13 <span style=''>
</span>14 <span style=''>  def users: Seq[User] = </span><span style='background: #F0ADAD'>_users</span><span style=''>
</span>15 <span style=''>
</span>16 <span style=''>  def users_=(value: Seq[User]): Unit = </span><span style='background: #F0ADAD'>_users = value</span><span style=''>
</span>17 <span style=''>
</span>18 <span style=''>  /** Setter. Sets the lobby context listener
</span>19 <span style=''>    *
</span>20 <span style=''>    * @param lobbyContextListener the lobby context listener
</span>21 <span style=''>    */
</span>22 <span style=''>  def setListener(lobbyContextListener: LobbyContextListener)
</span>23 <span style=''>
</span>24 <span style=''>  /** Called when the LobbyContext gets a lobby event from the scene
</span>25 <span style=''>    *
</span>26 <span style=''>    * @param event the lobby event
</span>27 <span style=''>    */
</span>28 <span style=''>  def notifyLobbyEvent(event: LobbyEventWrapper)
</span>29 <span style=''>
</span>30 <span style=''>}
</span>31 <span style=''>
</span>32 <span style=''>/** Companion object */
</span>33 <span style=''>object LobbyContext {
</span>34 <span style=''>
</span>35 <span style=''>  def apply(): LobbyContext = </span><span style='background: #F0ADAD'>new LobbyContextImpl()</span><span style=''>
</span>36 <span style=''>
</span>37 <span style=''>  /** LobbyContext implementation */
</span>38 <span style=''>  class LobbyContextImpl() extends LobbyContext {
</span>39 <span style=''>
</span>40 <span style=''>    /** The lobby context listener */
</span>41 <span style=''>    protected var listener: Option[LobbyContextListener] = </span><span style='background: #F0ADAD'>Option.empty</span><span style=''>
</span>42 <span style=''>    /** A reference to the lobby event observer, used to notify the server that we went away */
</span>43 <span style=''>    private var lobbyContextObserver: Option[EventWrapperObserver[LobbyEventWrapper]] = </span><span style='background: #F0ADAD'>Option.empty</span><span style=''>
</span>44 <span style=''>
</span>45 <span style=''>    override def setListener(lobbyContextListener: LobbyContextListener): Unit = </span><span style='background: #F0ADAD'>listener = Option(lobbyContextListener)</span><span style=''>
</span>46 <span style=''>
</span>47 <span style=''>    override def notify(event: LobbyEventWrapper): Unit = </span><span style='background: #F0ADAD'>listener</span><span style=''> match {
</span>48 <span style=''>      case Some(l) =&gt;
</span>49 <span style=''>        event match {
</span>50 <span style=''>          /** A user entered the lobby */
</span>51 <span style=''>          case LobbyEventWrapper(UserAdded, Some(user)) =&gt; if (</span><span style='background: #F0ADAD'>!users.contains(user)</span><span style=''>) </span><span style='background: #F0ADAD'>users = users :+ user</span><span style=''>; </span><span style='background: #F0ADAD'>l.updateUsers(users)</span><span style=''>
</span>52 <span style=''>
</span>53 <span style=''>          /** A user exited from the lobby */
</span>54 <span style=''>          case LobbyEventWrapper(UserRemoved, Some(user)) =&gt; if (</span><span style='background: #F0ADAD'>users.contains(user)</span><span style=''>) </span><span style='background: #F0ADAD'>users = users filterNot (u =&gt; u.username == user.username)</span><span style=''>; </span><span style='background: #F0ADAD'>l.updateUsers(users)</span><span style=''>
</span>55 <span style=''>
</span>56 <span style=''>          /** The game has started, we can create a new MultiPlayerLevelScene */
</span>57 <span style=''>          case LobbyEventWrapper(StartGame(multiPlayerLevelContext, levelInfo), _) =&gt; </span><span style='background: #F0ADAD'>l.onMultiPlayerGameStarted(multiPlayerLevelContext, levelInfo)</span><span style=''>
</span>58 <span style=''>
</span>59 <span style=''>          /** The lobby has been aborted, we have to go back */
</span>60 <span style=''>          case LobbyEventWrapper(AbortLobby, _) =&gt; </span><span style='background: #F0ADAD'>l.onLobbyAborted()</span><span style=''>
</span>61 <span style=''>          case _ =&gt; </span><span style='background: #F0ADAD'>Logger.log(s&quot;Unknown lobby event received: $event&quot;)(&quot;LobbyContext&quot;)</span><span style=''>
</span>62 <span style=''>        }
</span>63 <span style=''>      case _ =&gt; </span><span style='background: #F0ADAD'>Logger.log(&quot;Cannot notify listener about the new lobby event because is not set&quot;)(&quot;LobbyContext&quot;)</span><span style=''>
</span>64 <span style=''>
</span>65 <span style=''>    }
</span>66 <span style=''>
</span>67 <span style=''>    override def subscribe(eventWrapperObserver: EventWrapperObserver[LobbyEventWrapper]): Unit = </span><span style='background: #F0ADAD'>lobbyContextObserver = Option(eventWrapperObserver)</span><span style=''>
</span>68 <span style=''>
</span>69 <span style=''>    override def unsubscribe(eventWrapperObserver: EventWrapperObserver[LobbyEventWrapper]): Unit = </span><span style='background: #F0ADAD'>lobbyContextObserver = Option.empty</span><span style=''>
</span>70 <span style=''>
</span>71 <span style=''>    override def notifyLobbyEvent(event: LobbyEventWrapper): Unit = </span><span style='background: #F0ADAD'>lobbyContextObserver</span><span style=''> match {
</span>72 <span style=''>      case Some(lco) =&gt; </span><span style='background: #F0ADAD'>lco.notify(event)</span><span style=''>
</span>73 <span style=''>      case _ =&gt; </span><span style='background: #F0ADAD'>Logger.log(&quot;Cannot notify observer with the new lobby event because it is not set&quot;)(&quot;LobbyContext&quot;)</span><span style=''>
</span>74 <span style=''>    }
</span>75 <span style=''>  }
</span>76 <span style=''>
</span>77 <span style=''>}
</span>78 <span style=''>
</span>79 <span style=''>/** Trait which gets notified when a LobbyContext event occurs */
</span>80 <span style=''>trait LobbyContextListener {
</span>81 <span style=''>
</span>82 <span style=''>  /** Update the users list that must be shown to the user
</span>83 <span style=''>    *
</span>84 <span style=''>    * @param users the new user seq
</span>85 <span style=''>    */
</span>86 <span style=''>  def updateUsers(users: Seq[User])
</span>87 <span style=''>
</span>88 <span style=''>  /** Called once per lobby. A new MultiPLayerLevelScene will be created the scene
</span>89 <span style=''>    *
</span>90 <span style=''>    * @param multiPlayerLevelContext the level context
</span>91 <span style=''>    * @param levelInfo               the level info
</span>92 <span style=''>    */
</span>93 <span style=''>  def onMultiPlayerGameStarted(multiPlayerLevelContext: MultiPlayerLevelContext, levelInfo: LevelInfo)
</span>94 <span style=''>
</span>95 <span style=''>  /** Called once per lobby if the lobby is deleted */
</span>96 <span style=''>  def onLobbyAborted()
</span>97 <span style=''>
</span>98 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          12
        </td>
        <td>
          4388
        </td>
        <td>
          550
          -
          559
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.collection.generic.GenericCompanion.empty
        </td>
        <td style="background: #F0ADAD">
          scala.collection.Seq.empty[Nothing]
        </td>
      </tr><tr>
        <td>
          14
        </td>
        <td>
          4389
        </td>
        <td>
          586
          -
          592
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext._users
        </td>
        <td style="background: #F0ADAD">
          LobbyContext.this._users
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          4390
        </td>
        <td>
          634
          -
          648
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext._users_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContext.this._users_=(value)
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          4391
        </td>
        <td>
          1080
          -
          1102
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.LobbyContextImpl.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new LobbyContext.this.LobbyContextImpl()
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          4392
        </td>
        <td>
          1289
          -
          1301
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.Option.empty
        </td>
        <td style="background: #F0ADAD">
          scala.Option.empty[Nothing]
        </td>
      </tr><tr>
        <td>
          43
        </td>
        <td>
          4393
        </td>
        <td>
          1486
          -
          1498
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.Option.empty
        </td>
        <td style="background: #F0ADAD">
          scala.Option.empty[Nothing]
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          4395
        </td>
        <td>
          1581
          -
          1620
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.LobbyContextImpl.listener_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.listener_=(scala.Option.apply[it.unibo.osmos.redux.mvc.view.context.LobbyContextListener](lobbyContextListener))
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          4394
        </td>
        <td>
          1592
          -
          1620
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Option.apply
        </td>
        <td style="background: #F0ADAD">
          scala.Option.apply[it.unibo.osmos.redux.mvc.view.context.LobbyContextListener](lobbyContextListener)
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          4396
        </td>
        <td>
          1680
          -
          1688
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.LobbyContextImpl.listener
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.listener
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4399
        </td>
        <td>
          1877
          -
          1890
        </td>
        <td>
          ApplyToImplicitArgs
        </td>
        <td>
          scala.collection.SeqLike.:+
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users.:+[it.unibo.osmos.redux.mvc.view.components.multiplayer.User, Seq[it.unibo.osmos.redux.mvc.view.components.multiplayer.User]](user)(collection.this.Seq.canBuildFrom[it.unibo.osmos.redux.mvc.view.components.multiplayer.User])
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4398
        </td>
        <td>
          1883
          -
          1883
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.collection.Seq.canBuildFrom
        </td>
        <td style="background: #F0ADAD">
          collection.this.Seq.canBuildFrom[it.unibo.osmos.redux.mvc.view.components.multiplayer.User]
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4401
        </td>
        <td>
          1869
          -
          1890
        </td>
        <td>
          Block
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.users_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users_=(LobbyContextImpl.this.users.:+[it.unibo.osmos.redux.mvc.view.components.multiplayer.User, Seq[it.unibo.osmos.redux.mvc.view.components.multiplayer.User]](user)(collection.this.Seq.canBuildFrom[it.unibo.osmos.redux.mvc.view.components.multiplayer.User]))
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4404
        </td>
        <td>
          1906
          -
          1911
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.users
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4403
        </td>
        <td>
          1842
          -
          1842
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4397
        </td>
        <td>
          1846
          -
          1867
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Boolean.unary_!
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users.contains[it.unibo.osmos.redux.mvc.view.components.multiplayer.User](user).unary_!
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4400
        </td>
        <td>
          1869
          -
          1890
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.users_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users_=(LobbyContextImpl.this.users.:+[it.unibo.osmos.redux.mvc.view.components.multiplayer.User, Seq[it.unibo.osmos.redux.mvc.view.components.multiplayer.User]](user)(collection.this.Seq.canBuildFrom[it.unibo.osmos.redux.mvc.view.components.multiplayer.User]))
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4402
        </td>
        <td>
          1842
          -
          1842
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          4405
        </td>
        <td>
          1892
          -
          1912
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContextListener.updateUsers
        </td>
        <td style="background: #F0ADAD">
          l.updateUsers(LobbyContextImpl.this.users)
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4407
        </td>
        <td>
          2091
          -
          2104
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.multiplayer.User.username
        </td>
        <td style="background: #F0ADAD">
          user.username
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4410
        </td>
        <td>
          2047
          -
          2105
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.users_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users_=(LobbyContextImpl.this.users.filterNot(((u: it.unibo.osmos.redux.mvc.view.components.multiplayer.User) =&gt; u.username.==(user.username))))
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4413
        </td>
        <td>
          2021
          -
          2021
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4412
        </td>
        <td>
          2021
          -
          2021
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4415
        </td>
        <td>
          2107
          -
          2127
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContextListener.updateUsers
        </td>
        <td style="background: #F0ADAD">
          l.updateUsers(LobbyContextImpl.this.users)
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4406
        </td>
        <td>
          2025
          -
          2045
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.SeqLike.contains
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users.contains[it.unibo.osmos.redux.mvc.view.components.multiplayer.User](user)
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4409
        </td>
        <td>
          2055
          -
          2105
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.TraversableLike.filterNot
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users.filterNot(((u: it.unibo.osmos.redux.mvc.view.components.multiplayer.User) =&gt; u.username.==(user.username)))
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4408
        </td>
        <td>
          2077
          -
          2104
        </td>
        <td>
          Apply
        </td>
        <td>
          java.lang.Object.==
        </td>
        <td style="background: #F0ADAD">
          u.username.==(user.username)
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4411
        </td>
        <td>
          2047
          -
          2105
        </td>
        <td>
          Block
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.users_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users_=(LobbyContextImpl.this.users.filterNot(((u: it.unibo.osmos.redux.mvc.view.components.multiplayer.User) =&gt; u.username.==(user.username))))
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4414
        </td>
        <td>
          2121
          -
          2126
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.users
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.users
        </td>
      </tr><tr>
        <td>
          57
        </td>
        <td>
          4416
        </td>
        <td>
          2296
          -
          2358
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContextListener.onMultiPlayerGameStarted
        </td>
        <td style="background: #F0ADAD">
          l.onMultiPlayerGameStarted(multiPlayerLevelContext, levelInfo)
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          4417
        </td>
        <td>
          2475
          -
          2493
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContextListener.onLobbyAborted
        </td>
        <td style="background: #F0ADAD">
          l.onLobbyAborted()
        </td>
      </tr><tr>
        <td>
          61
        </td>
        <td>
          4418
        </td>
        <td>
          2514
          -
          2581
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.utils.Logger.log
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.utils.Logger.log(scala.StringContext.apply(&quot;Unknown lobby event received: &quot;, &quot;&quot;).s(event))(&quot;LobbyContext&quot;)
        </td>
      </tr><tr>
        <td>
          63
        </td>
        <td>
          4419
        </td>
        <td>
          2608
          -
          2705
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.utils.Logger.log
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.utils.Logger.log(&quot;Cannot notify listener about the new lobby event because is not set&quot;)(&quot;LobbyContext&quot;)
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          4421
        </td>
        <td>
          2812
          -
          2863
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.LobbyContextImpl.lobbyContextObserver_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.lobbyContextObserver_=(scala.Option.apply[it.unibo.osmos.redux.mvc.view.events.EventWrapperObserver[it.unibo.osmos.redux.mvc.view.events.LobbyEventWrapper]](eventWrapperObserver))
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          4420
        </td>
        <td>
          2835
          -
          2863
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Option.apply
        </td>
        <td style="background: #F0ADAD">
          scala.Option.apply[it.unibo.osmos.redux.mvc.view.events.EventWrapperObserver[it.unibo.osmos.redux.mvc.view.events.LobbyEventWrapper]](eventWrapperObserver)
        </td>
      </tr><tr>
        <td>
          69
        </td>
        <td>
          4422
        </td>
        <td>
          2988
          -
          3000
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.Option.empty
        </td>
        <td style="background: #F0ADAD">
          scala.Option.empty[Nothing]
        </td>
      </tr><tr>
        <td>
          69
        </td>
        <td>
          4423
        </td>
        <td>
          2965
          -
          3000
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.LobbyContextImpl.lobbyContextObserver_=
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.lobbyContextObserver_=(scala.Option.empty[Nothing])
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          4424
        </td>
        <td>
          3070
          -
          3090
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LobbyContext.LobbyContextImpl.lobbyContextObserver
        </td>
        <td style="background: #F0ADAD">
          LobbyContextImpl.this.lobbyContextObserver
        </td>
      </tr><tr>
        <td>
          72
        </td>
        <td>
          4425
        </td>
        <td>
          3123
          -
          3140
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.events.EventWrapperObserver.notify
        </td>
        <td style="background: #F0ADAD">
          lco.notify(event)
        </td>
      </tr><tr>
        <td>
          73
        </td>
        <td>
          4426
        </td>
        <td>
          3157
          -
          3256
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.utils.Logger.log
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.utils.Logger.log(&quot;Cannot notify observer with the new lobby event because it is not set&quot;)(&quot;LobbyContext&quot;)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>