<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/ecs/components/VisibleComponent.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.ecs.components
</span>2 <span style=''>
</span>3 <span style=''>/** Component for visible entity */
</span>4 <span style=''>trait VisibleComponent extends Component {
</span>5 <span style=''>
</span>6 <span style=''>  /** @return true if the entity is visible, false otherwise */
</span>7 <span style=''>  def isVisible: Boolean
</span>8 <span style=''>
</span>9 <span style=''>  /** Setter. Set the visibility of the entity
</span>10 <span style=''>    *
</span>11 <span style=''>    * @param visible visibility police
</span>12 <span style=''>    */
</span>13 <span style=''>  def setVisible(visible: Boolean): Unit
</span>14 <span style=''>
</span>15 <span style=''>  /** Makes a defensive copy of this instance.
</span>16 <span style=''>    *
</span>17 <span style=''>    * @return The new instance.
</span>18 <span style=''>    */
</span>19 <span style=''>  override def copy(): VisibleComponent = </span><span style='background: #F0ADAD'>VisibleComponent(isVisible)</span><span style=''>
</span>20 <span style=''>}
</span>21 <span style=''>
</span>22 <span style=''>object VisibleComponent {
</span>23 <span style=''>  def apply(visible: Boolean): VisibleComponent = </span><span style='background: #AEF1AE'>VisibleComponentImpl(visible)</span><span style=''>
</span>24 <span style=''>
</span>25 <span style=''>  private case class VisibleComponentImpl(var _visible: Boolean) extends VisibleComponent {
</span>26 <span style=''>
</span>27 <span style=''>    override def isVisible: Boolean = </span><span style='background: #AEF1AE'>_visible</span><span style=''>
</span>28 <span style=''>
</span>29 <span style=''>    override def setVisible(visible: Boolean): Unit = </span><span style='background: #F0ADAD'>_visible = visible</span><span style=''>
</span>30 <span style=''>  }
</span>31 <span style=''>
</span>32 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          70
        </td>
        <td>
          490
          -
          517
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.ecs.components.VisibleComponent.apply
        </td>
        <td style="background: #F0ADAD">
          VisibleComponent.apply(VisibleComponent.this.isVisible)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          69
        </td>
        <td>
          507
          -
          516
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.ecs.components.VisibleComponent.isVisible
        </td>
        <td style="background: #F0ADAD">
          VisibleComponent.this.isVisible
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          71
        </td>
        <td>
          597
          -
          626
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.ecs.components.VisibleComponent.VisibleComponentImpl.apply
        </td>
        <td style="background: #AEF1AE">
          VisibleComponent.this.VisibleComponentImpl.apply(visible)
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          72
        </td>
        <td>
          759
          -
          767
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.ecs.components.VisibleComponent.VisibleComponentImpl._visible
        </td>
        <td style="background: #AEF1AE">
          VisibleComponentImpl.this._visible
        </td>
      </tr><tr>
        <td>
          29
        </td>
        <td>
          73
        </td>
        <td>
          823
          -
          841
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.ecs.components.VisibleComponent.VisibleComponentImpl._visible_=
        </td>
        <td style="background: #F0ADAD">
          VisibleComponentImpl.this._visible_=(visible)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>