<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/components/custom/AlertBuilder.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.components.custom
</span>2 <span style=''>
</span>3 <span style=''>import it.unibo.osmos.redux.mvc.controller.manager.files.StyleFileManager
</span>4 <span style=''>import scalafx.scene.control.Alert
</span>5 <span style=''>import scalafx.scene.control.Alert.AlertType
</span>6 <span style=''>import scalafx.scene.layout.Region
</span>7 <span style=''>
</span>8 <span style=''>/** A builder that provider useful method to create customizable alerts */
</span>9 <span style=''>class AlertBuilder {
</span>10 <span style=''>
</span>11 <span style=''>  private var alertType = </span><span style='background: #F0ADAD'>AlertType.Error</span><span style=''>
</span>12 <span style=''>  private var alertTitle = </span><span style='background: #F0ADAD'>&quot;Generic Alert Dialog&quot;</span><span style=''>
</span>13 <span style=''>  private var alertHeaderText: String = _
</span>14 <span style=''>  private var alertGraphic: Boolean = </span><span style='background: #F0ADAD'>false</span><span style=''>
</span>15 <span style=''>  private var alertContentText = </span><span style='background: #F0ADAD'>&quot;Unknown Error&quot;</span><span style=''>
</span>16 <span style=''>
</span>17 <span style=''>  /** This method sets the alert type
</span>18 <span style=''>    *
</span>19 <span style=''>    * @param alertType the alert type
</span>20 <span style=''>    * @return the builder itself
</span>21 <span style=''>    */
</span>22 <span style=''>  def setType(alertType: AlertType): AlertBuilder = {
</span>23 <span style=''>    </span><span style='background: #F0ADAD'>this.alertType = alertType</span><span style=''>
</span>24 <span style=''>    this
</span>25 <span style=''>  }
</span>26 <span style=''>
</span>27 <span style=''>  /** This method sets the alert title
</span>28 <span style=''>    *
</span>29 <span style=''>    * @param alertTitle the alert title
</span>30 <span style=''>    * @return the builder itself
</span>31 <span style=''>    */
</span>32 <span style=''>  def setTitle(alertTitle: String): AlertBuilder = {
</span>33 <span style=''>    </span><span style='background: #F0ADAD'>this.alertTitle = alertTitle</span><span style=''>
</span>34 <span style=''>    this
</span>35 <span style=''>  }
</span>36 <span style=''>
</span>37 <span style=''>  /** This method sets the alert header
</span>38 <span style=''>    *
</span>39 <span style=''>    * @param alertHeaderText the header text
</span>40 <span style=''>    * @return the builder itself
</span>41 <span style=''>    */
</span>42 <span style=''>  def setHeaderText(alertHeaderText: String): AlertBuilder = {
</span>43 <span style=''>    </span><span style='background: #F0ADAD'>this.alertHeaderText = alertHeaderText</span><span style=''>
</span>44 <span style=''>    this
</span>45 <span style=''>  }
</span>46 <span style=''>
</span>47 <span style=''>  /** This method sets the graphics flag
</span>48 <span style=''>    *
</span>49 <span style=''>    * @param enable true if the alert graphics are enabled, false otherwise
</span>50 <span style=''>    * @return the builder itself
</span>51 <span style=''>    */
</span>52 <span style=''>  def setGraphics(enable: Boolean): AlertBuilder = {
</span>53 <span style=''>    </span><span style='background: #F0ADAD'>alertGraphic = enable</span><span style=''>
</span>54 <span style=''>    this
</span>55 <span style=''>  }
</span>56 <span style=''>
</span>57 <span style=''>  /** This method sets the alert content
</span>58 <span style=''>    *
</span>59 <span style=''>    * @param alertContentText the content text
</span>60 <span style=''>    * @return the builder itself
</span>61 <span style=''>    */
</span>62 <span style=''>  def setAlertContentText(alertContentText: String): AlertBuilder = {
</span>63 <span style=''>    </span><span style='background: #F0ADAD'>this.alertContentText = alertContentText</span><span style=''>
</span>64 <span style=''>    this
</span>65 <span style=''>  }
</span>66 <span style=''>
</span>67 <span style=''>  /** This method build the requested alert
</span>68 <span style=''>    *
</span>69 <span style=''>    * @return an alert
</span>70 <span style=''>    */
</span>71 <span style=''>  def build(): Alert = {
</span>72 <span style=''>    val alert = </span><span style='background: #F0ADAD'>new</span><span style=''> Alert(alertType) {
</span>73 <span style=''>      </span><span style='background: #F0ADAD'>title = alertTitle</span><span style=''>
</span>74 <span style=''>      </span><span style='background: #F0ADAD'>headerText = None</span><span style=''>
</span>75 <span style=''>      if (</span><span style='background: #F0ADAD'>!alertGraphic</span><span style=''>) {
</span>76 <span style=''>        </span><span style='background: #F0ADAD'>graphic = null</span><span style=''>
</span>77 <span style=''>      }
</span>78 <span style=''>      </span><span style='background: #F0ADAD'>contentText = alertContentText</span><span style=''>
</span>79 <span style=''>    }
</span>80 <span style=''>    </span><span style='background: #F0ADAD'>alert.getDialogPane.setMinHeight(Region.USE_PREF_SIZE)</span><span style=''>
</span>81 <span style=''>    </span><span style='background: #F0ADAD'>alert.getDialogPane.getStylesheets.addAll(StyleFileManager.getStyle)</span><span style=''>
</span>82 <span style=''>    </span><span style='background: #F0ADAD'>alert.getDialogPane.getStyleClass.add(&quot;dialog-style&quot;)</span><span style=''>
</span>83 <span style=''>    alert
</span>84 <span style=''>  }
</span>85 <span style=''>
</span>86 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          11
        </td>
        <td>
          3403
        </td>
        <td>
          370
          -
          385
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.scene.control.Alert.AlertType.Error
        </td>
        <td style="background: #F0ADAD">
          scalafx.scene.control.Alert.AlertType.Error
        </td>
      </tr><tr>
        <td>
          12
        </td>
        <td>
          3404
        </td>
        <td>
          413
          -
          435
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          &quot;Generic Alert Dialog&quot;
        </td>
      </tr><tr>
        <td>
          14
        </td>
        <td>
          3405
        </td>
        <td>
          516
          -
          521
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          false
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          3406
        </td>
        <td>
          555
          -
          570
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          &quot;Unknown Error&quot;
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          3407
        </td>
        <td>
          752
          -
          778
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.alertType_=
        </td>
        <td style="background: #F0ADAD">
          this.alertType_=(alertType)
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          3408
        </td>
        <td>
          975
          -
          1003
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.alertTitle_=
        </td>
        <td style="background: #F0ADAD">
          this.alertTitle_=(alertTitle)
        </td>
      </tr><tr>
        <td>
          43
        </td>
        <td>
          3409
        </td>
        <td>
          1216
          -
          1254
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.alertHeaderText_=
        </td>
        <td style="background: #F0ADAD">
          this.alertHeaderText_=(alertHeaderText)
        </td>
      </tr><tr>
        <td>
          53
        </td>
        <td>
          3410
        </td>
        <td>
          1489
          -
          1510
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.alertGraphic_=
        </td>
        <td style="background: #F0ADAD">
          AlertBuilder.this.alertGraphic_=(enable)
        </td>
      </tr><tr>
        <td>
          63
        </td>
        <td>
          3411
        </td>
        <td>
          1733
          -
          1773
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.alertContentText_=
        </td>
        <td style="background: #F0ADAD">
          this.alertContentText_=(alertContentText)
        </td>
      </tr><tr>
        <td>
          72
        </td>
        <td>
          3423
        </td>
        <td>
          1909
          -
          1912
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.$anon.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new $anon()
        </td>
      </tr><tr>
        <td>
          73
        </td>
        <td>
          3412
        </td>
        <td>
          1946
          -
          1956
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.alertTitle
        </td>
        <td style="background: #F0ADAD">
          AlertBuilder.this.alertTitle
        </td>
      </tr><tr>
        <td>
          73
        </td>
        <td>
          3413
        </td>
        <td>
          1938
          -
          1956
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.Dialog.title_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.title_=(AlertBuilder.this.alertTitle)
        </td>
      </tr><tr>
        <td>
          74
        </td>
        <td>
          3414
        </td>
        <td>
          1976
          -
          1980
        </td>
        <td>
          Select
        </td>
        <td>
          scala.None
        </td>
        <td style="background: #F0ADAD">
          scala.None
        </td>
      </tr><tr>
        <td>
          74
        </td>
        <td>
          3415
        </td>
        <td>
          1963
          -
          1980
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.Dialog.headerText_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.headerText_=(scala.None)
        </td>
      </tr><tr>
        <td>
          75
        </td>
        <td>
          3420
        </td>
        <td>
          1987
          -
          1987
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          75
        </td>
        <td>
          3419
        </td>
        <td>
          1987
          -
          1987
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          75
        </td>
        <td>
          3416
        </td>
        <td>
          1991
          -
          2004
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Boolean.unary_!
        </td>
        <td style="background: #F0ADAD">
          AlertBuilder.this.alertGraphic.unary_!
        </td>
      </tr><tr>
        <td>
          76
        </td>
        <td>
          3417
        </td>
        <td>
          2016
          -
          2030
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.Dialog.graphic_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.graphic_=(null)
        </td>
      </tr><tr>
        <td>
          76
        </td>
        <td>
          3418
        </td>
        <td>
          2016
          -
          2030
        </td>
        <td>
          Block
        </td>
        <td>
          scalafx.scene.control.Dialog.graphic_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.graphic_=(null)
        </td>
      </tr><tr>
        <td>
          78
        </td>
        <td>
          3421
        </td>
        <td>
          2059
          -
          2075
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.AlertBuilder.alertContentText
        </td>
        <td style="background: #F0ADAD">
          AlertBuilder.this.alertContentText
        </td>
      </tr><tr>
        <td>
          78
        </td>
        <td>
          3422
        </td>
        <td>
          2045
          -
          2075
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.Dialog.contentText_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.contentText_=(AlertBuilder.this.alertContentText)
        </td>
      </tr><tr>
        <td>
          80
        </td>
        <td>
          3425
        </td>
        <td>
          2086
          -
          2140
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.layout.Region.setMinHeight
        </td>
        <td style="background: #F0ADAD">
          control.this.Alert.sfxAlert2jfx(alert).getDialogPane().setMinHeight(scalafx.scene.layout.Region.USE_PREF_SIZE)
        </td>
      </tr><tr>
        <td>
          80
        </td>
        <td>
          3424
        </td>
        <td>
          2119
          -
          2139
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.scene.layout.Region.USE_PREF_SIZE
        </td>
        <td style="background: #F0ADAD">
          scalafx.scene.layout.Region.USE_PREF_SIZE
        </td>
      </tr><tr>
        <td>
          81
        </td>
        <td>
          3426
        </td>
        <td>
          2187
          -
          2212
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.manager.files.StyleFileManager.getStyle
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.mvc.controller.manager.files.StyleFileManager.getStyle
        </td>
      </tr><tr>
        <td>
          81
        </td>
        <td>
          3427
        </td>
        <td>
          2145
          -
          2213
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.collections.ObservableList.addAll
        </td>
        <td style="background: #F0ADAD">
          control.this.Alert.sfxAlert2jfx(alert).getDialogPane().getStylesheets().addAll(it.unibo.osmos.redux.mvc.controller.manager.files.StyleFileManager.getStyle)
        </td>
      </tr><tr>
        <td>
          82
        </td>
        <td>
          3428
        </td>
        <td>
          2218
          -
          2271
        </td>
        <td>
          Apply
        </td>
        <td>
          java.util.List.add
        </td>
        <td style="background: #F0ADAD">
          control.this.Alert.sfxAlert2jfx(alert).getDialogPane().getStyleClass().add(&quot;dialog-style&quot;)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>