<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/components/custom/TitledNode.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.components.custom
</span>2 <span style=''>
</span>3 <span style=''>import scalafx.beans.property.StringProperty
</span>4 <span style=''>import scalafx.geometry.Insets
</span>5 <span style=''>import scalafx.scene.Node
</span>6 <span style=''>import scalafx.scene.control.Label
</span>7 <span style=''>import scalafx.scene.layout.{HBox, Pane, VBox}
</span>8 <span style=''>
</span>9 <span style=''>/** Abstract node which holds a Text and a generic node subclass in a Pane
</span>10 <span style=''>  *
</span>11 <span style=''>  * @param title    the text shown
</span>12 <span style=''>  * @param vertical true if the text must be shown above the node, false otherwise
</span>13 <span style=''>  * @param spacing  the spacing between the text and the node
</span>14 <span style=''>  * @tparam N the node type
</span>15 <span style=''>  */
</span>16 <span style=''>abstract class TitledNode[N &lt;: Node](val title: StringProperty, vertical: Boolean, spacing: Double = 4.0) {
</span>17 <span style=''>
</span>18 <span style=''>  val root: Pane = if (</span><span style='background: #AEF1AE'>vertical</span><span style=''>) </span><span style='background: #F0ADAD'>new VBox(spacing)</span><span style=''> else </span><span style='background: #AEF1AE'>new HBox(spacing)</span><span style=''>
</span>19 <span style=''>  </span><span style='background: #AEF1AE'>root.padding = Insets(10.0)</span><span style=''>
</span>20 <span style=''>  </span><span style='background: #AEF1AE'>root.style = &quot;-fx-background-color : #ffffff;&quot;</span><span style=''>
</span>21 <span style=''>
</span>22 <span style=''>  private val text = </span><span style='background: #AEF1AE'>new</span><span style=''> Label {
</span>23 <span style=''>    if (</span><span style='background: #AEF1AE'>title != null</span><span style=''>) {
</span>24 <span style=''>      </span><span style='background: #AEF1AE'>text &lt;==&gt; title</span><span style=''>
</span>25 <span style=''>    }
</span>26 <span style=''>  }
</span>27 <span style=''>
</span>28 <span style=''>  /** The node that will be shown after the text
</span>29 <span style=''>    *
</span>30 <span style=''>    * @return a node of type N &lt;: Node
</span>31 <span style=''>    */
</span>32 <span style=''>  def innerNode: N
</span>33 <span style=''>
</span>34 <span style=''>  </span><span style='background: #AEF1AE'>root.children = List(text, innerNode)</span><span style=''>
</span>35 <span style=''>
</span>36 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          3549
        </td>
        <td>
          685
          -
          692
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledNode.spacing
        </td>
        <td style="background: #F0ADAD">
          TitledNode.this.spacing
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          3552
        </td>
        <td>
          708
          -
          715
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledNode.spacing
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.spacing
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          3554
        </td>
        <td>
          699
          -
          716
        </td>
        <td>
          Block
        </td>
        <td>
          scalafx.scene.layout.HBox.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new scalafx.scene.layout.HBox(TitledNode.this.spacing)
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          3548
        </td>
        <td>
          666
          -
          674
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledNode.vertical
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.vertical
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          3551
        </td>
        <td>
          676
          -
          693
        </td>
        <td>
          Block
        </td>
        <td>
          scalafx.scene.layout.VBox.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new scalafx.scene.layout.VBox(TitledNode.this.spacing)
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          3553
        </td>
        <td>
          699
          -
          716
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.HBox.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new scalafx.scene.layout.HBox(TitledNode.this.spacing)
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          3550
        </td>
        <td>
          676
          -
          693
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.VBox.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new scalafx.scene.layout.VBox(TitledNode.this.spacing)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          3555
        </td>
        <td>
          734
          -
          746
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.geometry.Insets.apply
        </td>
        <td style="background: #AEF1AE">
          scalafx.geometry.Insets.apply(10.0)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          3556
        </td>
        <td>
          719
          -
          746
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.Region.padding_=
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.root.padding_=(scalafx.geometry.Insets.apply(10.0))
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          3557
        </td>
        <td>
          749
          -
          795
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.Node.style_=
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.root.style_=(&quot;-fx-background-color : #ffffff;&quot;)
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          3564
        </td>
        <td>
          818
          -
          821
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledNode.$anon.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new $anon()
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          3558
        </td>
        <td>
          838
          -
          851
        </td>
        <td>
          Apply
        </td>
        <td>
          java.lang.Object.!=
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.title.!=(null)
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          3563
        </td>
        <td>
          834
          -
          834
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          3562
        </td>
        <td>
          834
          -
          834
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          3561
        </td>
        <td>
          861
          -
          876
        </td>
        <td>
          Block
        </td>
        <td>
          scalafx.beans.property.Property.&lt;==&gt;
        </td>
        <td style="background: #AEF1AE">
          $anon.this.text.&lt;==&gt;(TitledNode.this.title)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          3560
        </td>
        <td>
          861
          -
          876
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.beans.property.Property.&lt;==&gt;
        </td>
        <td style="background: #AEF1AE">
          $anon.this.text.&lt;==&gt;(TitledNode.this.title)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          3559
        </td>
        <td>
          871
          -
          876
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledNode.title
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.title
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          3567
        </td>
        <td>
          1027
          -
          1048
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.immutable.List.apply
        </td>
        <td style="background: #AEF1AE">
          scala.collection.immutable.List.apply[scalafx.scene.Node](TitledNode.this.text, TitledNode.this.innerNode)
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          3566
        </td>
        <td>
          1038
          -
          1047
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledNode.innerNode
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.innerNode
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          3568
        </td>
        <td>
          1011
          -
          1048
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.Pane.children_=
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.root.children_=(scala.collection.immutable.List.apply[scalafx.scene.Node](TitledNode.this.text, TitledNode.this.innerNode))
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          3565
        </td>
        <td>
          1032
          -
          1036
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledNode.text
        </td>
        <td style="background: #AEF1AE">
          TitledNode.this.text
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>