<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/components/custom/TitledDoubleField.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.components.custom
</span>2 <span style=''>
</span>3 <span style=''>import java.util.Locale
</span>4 <span style=''>
</span>5 <span style=''>import scalafx.beans.property.{DoubleProperty, StringProperty}
</span>6 <span style=''>import scalafx.scene.control.TextFormatter.Change
</span>7 <span style=''>import scalafx.scene.control.{TextField, TextFormatter}
</span>8 <span style=''>import scalafx.util.converter.{DoubleStringConverter, NumberStringConverter}
</span>9 <span style=''>
</span>10 <span style=''>/** TextField with a Title which controls the user inputs, checking that the text inserted is a Double
</span>11 <span style=''>  *
</span>12 <span style=''>  * @param title    the text shown
</span>13 <span style=''>  * @param value    the observable double property
</span>14 <span style=''>  * @param minValue the minimum acceptable value, set to Double.MinValue if not specified
</span>15 <span style=''>  * @param maxValue the maximum acceptable value, set to Double.MaxValue if not specified
</span>16 <span style=''>  */
</span>17 <span style=''>class TitledDoubleField(override val title: StringProperty, private val value: DoubleProperty, private val minValue: Double = Double.MinValue, private val maxValue: Double = Double.MaxValue)
</span>18 <span style=''>  extends TitledNode[TextField](title, vertical = false) {
</span>19 <span style=''>
</span>20 <span style=''>  /** Additional constructor
</span>21 <span style=''>    *
</span>22 <span style=''>    * @param title the title
</span>23 <span style=''>    * @param value the value, as a DoubleProperty
</span>24 <span style=''>    */
</span>25 <span style=''>  def this(title: String, value: DoubleProperty) {
</span>26 <span style=''>    </span><span style='background: #AEF1AE'>this(StringProperty(title), value)</span><span style=''>
</span>27 <span style=''>  }
</span>28 <span style=''>
</span>29 <span style=''>  /** Additional constructor
</span>30 <span style=''>    *
</span>31 <span style=''>    * @param title    the title
</span>32 <span style=''>    * @param value    the value, as a DoubleProperty
</span>33 <span style=''>    * @param minValue the minimum allowed value
</span>34 <span style=''>    * @param maxValue the maximum allowed value
</span>35 <span style=''>    */
</span>36 <span style=''>  def this(title: String, value: DoubleProperty, minValue: Double, maxValue: Double) {
</span>37 <span style=''>    </span><span style='background: #AEF1AE'>this(StringProperty(title), value, minValue, maxValue)</span><span style=''>
</span>38 <span style=''>  }
</span>39 <span style=''>
</span>40 <span style=''>  /** The node that will be shown after the text
</span>41 <span style=''>    *
</span>42 <span style=''>    * @return a node of type N &lt;: Node
</span>43 <span style=''>    */
</span>44 <span style=''>  override def innerNode: TextField = </span><span style='background: #AEF1AE'>new</span><span style=''> TextField() {
</span>45 <span style=''>    </span><span style='background: #AEF1AE'>text.delegate.bindBidirectional(value, new NumberStringConverter(Locale.US))</span><span style=''>
</span>46 <span style=''>    </span><span style='background: #AEF1AE'>editable = true</span><span style=''>
</span>47 <span style=''>    </span><span style='background: #AEF1AE'>prefWidth &lt;== maxWidth</span><span style=''>
</span>48 <span style=''>    </span><span style='background: #AEF1AE'>textFormatter = new TextFormatter[Double](new DoubleStringConverter(), 0, { c: Change =&gt; {
</span>49 <span style=''></span><span style='background: #AEF1AE'>      val input = c.controlNewText
</span>50 <span style=''></span><span style='background: #AEF1AE'>      /** Checking if the double starts with the dot */
</span>51 <span style=''></span><span style='background: #AEF1AE'>      val dotted = input.matches(&quot;^(-?)(\\.[0-9]+)?$&quot;)
</span>52 <span style=''></span><span style='background: #AEF1AE'>      if (dotted) </span><span style='background: #F0ADAD'>{
</span>53 <span style=''></span><span style='background: #F0ADAD'>        /** Adding 0 in front */
</span>54 <span style=''></span><span style='background: #F0ADAD'>        c.setText(&quot;0&quot;)
</span>55 <span style=''></span><span style='background: #F0ADAD'>        c
</span>56 <span style=''></span><span style='background: #F0ADAD'>      }</span><span style='background: #AEF1AE'> else {
</span>57 <span style=''></span><span style='background: #AEF1AE'>        /** Checking if its a double of any type */
</span>58 <span style=''></span><span style='background: #AEF1AE'>        val isNumber = input.matches(&quot;^(-?)(0|([1-9][0-9]*))(\\.[0-9]+)?$&quot;)
</span>59 <span style=''></span><span style='background: #AEF1AE'>        if (!isNumber) </span><span style='background: #F0ADAD'>c.setText(&quot;&quot;)</span><span style='background: #AEF1AE'>
</span>60 <span style=''></span><span style='background: #AEF1AE'>        if (isNumber &amp;&amp; (maxValue &lt;= c.getControlNewText.toDouble || minValue &gt;= c.getControlNewText.toDouble)) c.setText(&quot;&quot;)
</span>61 <span style=''></span><span style='background: #AEF1AE'>        c
</span>62 <span style=''></span><span style='background: #AEF1AE'>      }
</span>63 <span style=''></span><span style='background: #AEF1AE'>    }
</span>64 <span style=''></span><span style='background: #AEF1AE'>    })</span><span style=''>
</span>65 <span style=''>  }
</span>66 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          3467
        </td>
        <td>
          1128
          -
          1128
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          ()
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          3465
        </td>
        <td>
          1134
          -
          1134
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledDoubleField.&lt;init&gt;$default$4
        </td>
        <td style="background: #AEF1AE">
          custom.this.TitledDoubleField.&lt;init&gt;$default$4
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          3464
        </td>
        <td>
          1134
          -
          1134
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledDoubleField.&lt;init&gt;$default$3
        </td>
        <td style="background: #AEF1AE">
          custom.this.TitledDoubleField.&lt;init&gt;$default$3
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          3466
        </td>
        <td>
          1134
          -
          1168
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledDoubleField.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          TitledDoubleField.this.&lt;init&gt;(scalafx.beans.property.StringProperty.apply(title), value, custom.this.TitledDoubleField.&lt;init&gt;$default$3, custom.this.TitledDoubleField.&lt;init&gt;$default$4)
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          3463
        </td>
        <td>
          1139
          -
          1160
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.beans.property.StringProperty.apply
        </td>
        <td style="background: #AEF1AE">
          scalafx.beans.property.StringProperty.apply(title)
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          3470
        </td>
        <td>
          1482
          -
          1482
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          ()
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          3468
        </td>
        <td>
          1493
          -
          1514
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.beans.property.StringProperty.apply
        </td>
        <td style="background: #AEF1AE">
          scalafx.beans.property.StringProperty.apply(title)
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          3469
        </td>
        <td>
          1488
          -
          1542
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledDoubleField.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          TitledDoubleField.this.&lt;init&gt;(scalafx.beans.property.StringProperty.apply(title), value, minValue, maxValue)
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          3508
        </td>
        <td>
          1687
          -
          1690
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledDoubleField.$anon.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new $anon()
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          3471
        </td>
        <td>
          1741
          -
          1746
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.custom.TitledDoubleField.value
        </td>
        <td style="background: #AEF1AE">
          TitledDoubleField.this.value
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          3474
        </td>
        <td>
          1748
          -
          1784
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.util.converter.NumberStringConverter.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new scalafx.util.converter.NumberStringConverter(java.util.Locale.US)
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          3473
        </td>
        <td>
          1774
          -
          1783
        </td>
        <td>
          Select
        </td>
        <td>
          java.util.Locale.US
        </td>
        <td style="background: #AEF1AE">
          java.util.Locale.US
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          3476
        </td>
        <td>
          1709
          -
          1785
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.beans.property.StringProperty.bindBidirectional
        </td>
        <td style="background: #AEF1AE">
          $anon.this.text.delegate.bindBidirectional[Number](property.this.DoubleProperty.sfxDoubleProperty2jfx(TitledDoubleField.this.value), converter.this.NumberStringConverter.sfxNumberStringConverter2jfx(new scalafx.util.converter.NumberStringConverter(java.util.Locale.US)))
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          3475
        </td>
        <td>
          1748
          -
          1784
        </td>
        <td>
          ApplyImplicitView
        </td>
        <td>
          scalafx.util.converter.NumberStringConverter.sfxNumberStringConverter2jfx
        </td>
        <td style="background: #AEF1AE">
          converter.this.NumberStringConverter.sfxNumberStringConverter2jfx(new scalafx.util.converter.NumberStringConverter(java.util.Locale.US))
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          3472
        </td>
        <td>
          1741
          -
          1746
        </td>
        <td>
          ApplyImplicitView
        </td>
        <td>
          scalafx.beans.property.DoubleProperty.sfxDoubleProperty2jfx
        </td>
        <td style="background: #AEF1AE">
          property.this.DoubleProperty.sfxDoubleProperty2jfx(TitledDoubleField.this.value)
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          3477
        </td>
        <td>
          1790
          -
          1805
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.TextInputControl.editable_=
        </td>
        <td style="background: #AEF1AE">
          $anon.this.editable_=(true)
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          3479
        </td>
        <td>
          1810
          -
          1832
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.beans.property.Property.&lt;==
        </td>
        <td style="background: #AEF1AE">
          $anon.this.prefWidth.&lt;==($anon.this.maxWidth)
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          3478
        </td>
        <td>
          1824
          -
          1832
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.scene.layout.Region.maxWidth
        </td>
        <td style="background: #AEF1AE">
          $anon.this.maxWidth
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          3480
        </td>
        <td>
          1879
          -
          1879
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.util.converter.DoubleStringConverter.&lt;init&gt;$default$1
        </td>
        <td style="background: #AEF1AE">
          converter.this.DoubleStringConverter.&lt;init&gt;$default$1
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          3507
        </td>
        <td>
          1837
          -
          2496
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.TextInputControl.textFormatter_=
        </td>
        <td style="background: #AEF1AE">
          $anon.this.textFormatter_=(new scalafx.scene.control.TextFormatter[Double](util.this.StringConverter.sfxStringConverter2jfx[Double](new scalafx.util.converter.DoubleStringConverter(converter.this.DoubleStringConverter.&lt;init&gt;$default$1)), 0.0, ((c: scalafx.scene.control.TextFormatter.Change) =&gt; {
  val input: String = c.controlNewText;
  val dotted: Boolean = input.matches(&quot;^(-?)(\\.[0-9]+)?$&quot;);
  if (dotted)
    {
      TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;0&quot;);
      c
    }
  else
    {
      val isNumber: Boolean = input.matches(&quot;^(-?)(0|([1-9][0-9]*))(\\.[0-9]+)?$&quot;);
      if (isNumber.unary_!)
        TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
      else
        ();
      if (isNumber.&amp;&amp;(TitledDoubleField.this.maxValue.&lt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble).||(TitledDoubleField.this.minValue.&gt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble))))
        TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
      else
        ();
      c
    }
})))
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          3483
        </td>
        <td>
          1908
          -
          1909
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          0.0
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          3506
        </td>
        <td>
          1853
          -
          2496
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.control.TextFormatter.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new scalafx.scene.control.TextFormatter[Double](util.this.StringConverter.sfxStringConverter2jfx[Double](new scalafx.util.converter.DoubleStringConverter(converter.this.DoubleStringConverter.&lt;init&gt;$default$1)), 0.0, ((c: scalafx.scene.control.TextFormatter.Change) =&gt; {
  val input: String = c.controlNewText;
  val dotted: Boolean = input.matches(&quot;^(-?)(\\.[0-9]+)?$&quot;);
  if (dotted)
    {
      TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;0&quot;);
      c
    }
  else
    {
      val isNumber: Boolean = input.matches(&quot;^(-?)(0|([1-9][0-9]*))(\\.[0-9]+)?$&quot;);
      if (isNumber.unary_!)
        TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
      else
        ();
      if (isNumber.&amp;&amp;(TitledDoubleField.this.maxValue.&lt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble).||(TitledDoubleField.this.minValue.&gt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble))))
        TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
      else
        ();
      c
    }
}))
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          3482
        </td>
        <td>
          1879
          -
          1906
        </td>
        <td>
          ApplyImplicitView
        </td>
        <td>
          scalafx.util.StringConverter.sfxStringConverter2jfx
        </td>
        <td style="background: #AEF1AE">
          util.this.StringConverter.sfxStringConverter2jfx[Double](new scalafx.util.converter.DoubleStringConverter(converter.this.DoubleStringConverter.&lt;init&gt;$default$1))
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          3481
        </td>
        <td>
          1879
          -
          1906
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.util.converter.DoubleStringConverter.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new scalafx.util.converter.DoubleStringConverter(converter.this.DoubleStringConverter.&lt;init&gt;$default$1)
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          3484
        </td>
        <td>
          1946
          -
          1962
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.scene.control.TextFormatter.Change.controlNewText
        </td>
        <td style="background: #AEF1AE">
          c.controlNewText
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          3485
        </td>
        <td>
          2038
          -
          2073
        </td>
        <td>
          Apply
        </td>
        <td>
          java.lang.String.matches
        </td>
        <td style="background: #AEF1AE">
          input.matches(&quot;^(-?)(\\.[0-9]+)?$&quot;)
        </td>
      </tr><tr>
        <td>
          52
        </td>
        <td>
          3487
        </td>
        <td>
          2092
          -
          2167
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          {
  TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;0&quot;);
  c
}
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          3486
        </td>
        <td>
          2135
          -
          2149
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.control.TextFormatter.Change.setText
        </td>
        <td style="background: #F0ADAD">
          TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;0&quot;)
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          3505
        </td>
        <td>
          2173
          -
          2483
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          {
  val isNumber: Boolean = input.matches(&quot;^(-?)(0|([1-9][0-9]*))(\\.[0-9]+)?$&quot;);
  if (isNumber.unary_!)
    TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
  else
    ();
  if (isNumber.&amp;&amp;(TitledDoubleField.this.maxValue.&lt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble).||(TitledDoubleField.this.minValue.&gt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble))))
    TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
  else
    ();
  c
}
        </td>
      </tr><tr>
        <td>
          58
        </td>
        <td>
          3488
        </td>
        <td>
          2250
          -
          2302
        </td>
        <td>
          Apply
        </td>
        <td>
          java.lang.String.matches
        </td>
        <td style="background: #AEF1AE">
          input.matches(&quot;^(-?)(0|([1-9][0-9]*))(\\.[0-9]+)?$&quot;)
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          3489
        </td>
        <td>
          2315
          -
          2324
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Boolean.unary_!
        </td>
        <td style="background: #AEF1AE">
          isNumber.unary_!
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          3492
        </td>
        <td>
          2311
          -
          2311
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          ()
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          3491
        </td>
        <td>
          2326
          -
          2339
        </td>
        <td>
          Block
        </td>
        <td>
          javafx.scene.control.TextFormatter.Change.setText
        </td>
        <td style="background: #F0ADAD">
          TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          3493
        </td>
        <td>
          2311
          -
          2311
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          ()
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          3490
        </td>
        <td>
          2326
          -
          2339
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.control.TextFormatter.Change.setText
        </td>
        <td style="background: #F0ADAD">
          TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3498
        </td>
        <td>
          2409
          -
          2449
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Double.&gt;=
        </td>
        <td style="background: #AEF1AE">
          TitledDoubleField.this.minValue.&gt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble)
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3501
        </td>
        <td>
          2452
          -
          2465
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.control.TextFormatter.Change.setText
        </td>
        <td style="background: #AEF1AE">
          TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3495
        </td>
        <td>
          2377
          -
          2405
        </td>
        <td>
          Select
        </td>
        <td>
          scala.collection.immutable.StringLike.toDouble
        </td>
        <td style="background: #AEF1AE">
          scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3504
        </td>
        <td>
          2348
          -
          2348
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          ()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3494
        </td>
        <td>
          2377
          -
          2396
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.control.TextFormatter.Change.getControlNewText
        </td>
        <td style="background: #AEF1AE">
          TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3503
        </td>
        <td>
          2348
          -
          2348
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #AEF1AE">
          ()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3497
        </td>
        <td>
          2421
          -
          2449
        </td>
        <td>
          Select
        </td>
        <td>
          scala.collection.immutable.StringLike.toDouble
        </td>
        <td style="background: #AEF1AE">
          scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3500
        </td>
        <td>
          2352
          -
          2450
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Boolean.&amp;&amp;
        </td>
        <td style="background: #AEF1AE">
          isNumber.&amp;&amp;(TitledDoubleField.this.maxValue.&lt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble).||(TitledDoubleField.this.minValue.&gt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble)))
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3502
        </td>
        <td>
          2452
          -
          2465
        </td>
        <td>
          Block
        </td>
        <td>
          javafx.scene.control.TextFormatter.Change.setText
        </td>
        <td style="background: #AEF1AE">
          TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).setText(&quot;&quot;)
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3496
        </td>
        <td>
          2421
          -
          2440
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.control.TextFormatter.Change.getControlNewText
        </td>
        <td style="background: #AEF1AE">
          TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          3499
        </td>
        <td>
          2365
          -
          2449
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Boolean.||
        </td>
        <td style="background: #AEF1AE">
          TitledDoubleField.this.maxValue.&lt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble).||(TitledDoubleField.this.minValue.&gt;=(scala.Predef.augmentString(TextFormatter.this.Change.sfxTextFormatterChange2jfx[Nothing](c).getControlNewText()).toDouble))
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>