<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/scenes/LevelSelectionScene.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.scenes
</span>2 <span style=''>
</span>3 <span style=''>import it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo
</span>4 <span style=''>import it.unibo.osmos.redux.mvc.view.components.level.{LevelNode, LevelNodeListener}
</span>5 <span style=''>import it.unibo.osmos.redux.mvc.view.context.LevelContext
</span>6 <span style=''>import scalafx.geometry.{Insets, Pos}
</span>7 <span style=''>import scalafx.scene.layout.{TilePane, VBox}
</span>8 <span style=''>import scalafx.stage.Stage
</span>9 <span style=''>
</span>10 <span style=''>import scala.collection.mutable
</span>11 <span style=''>
</span>12 <span style=''>/** This scene lets the players choose which level they want to play
</span>13 <span style=''>  *
</span>14 <span style=''>  * @param parentStage           the parent stage
</span>15 <span style=''>  * @param listener              the listener
</span>16 <span style=''>  * @param previousSceneListener the back click listener
</span>17 <span style=''>  */
</span>18 <span style=''>class LevelSelectionScene(override val parentStage: Stage, val listener: LevelSelectionSceneListener, previousSceneListener: BackClickListener)
</span>19 <span style=''>  extends DefaultBackScene(parentStage, previousSceneListener) with LevelNodeListener {
</span>20 <span style=''>
</span>21 <span style=''>  /** The levels shown
</span>22 <span style=''>    *
</span>23 <span style=''>    * @return the list of levels as LevelInfo
</span>24 <span style=''>    */
</span>25 <span style=''>  lazy val levels: mutable.Buffer[LevelInfo] = listener.getSingleLevels.toBuffer
</span>26 <span style=''>
</span>27 <span style=''>  /** This method loads the level into the level container, thus letting the player choose them */
</span>28 <span style=''>  def loadLevels(): Unit = </span><span style='background: #F0ADAD'>levels foreach (level =&gt; levelsContainer.children.add(new LevelNode(LevelSelectionScene.this, level, levels.indexOf(level))))</span><span style=''>
</span>29 <span style=''>
</span>30 <span style=''>  /** This method refreshes the level list to acquire the new LevelInfos */
</span>31 <span style=''>  protected def refreshLevels(): Unit = {
</span>32 <span style=''>    </span><span style='background: #F0ADAD'>levels.clear()</span><span style=''>
</span>33 <span style=''>    </span><span style='background: #F0ADAD'>levels.appendAll(listener.getSingleLevels)</span><span style=''>
</span>34 <span style=''>  }
</span>35 <span style=''>
</span>36 <span style=''>  /** This method refreshes the level list and reload the nodes */
</span>37 <span style=''>  private def reloadLevels(): Unit = {
</span>38 <span style=''>    </span><span style='background: #F0ADAD'>refreshLevels()</span><span style=''>
</span>39 <span style=''>    </span><span style='background: #F0ADAD'>levelsContainer.children.clear()</span><span style=''>
</span>40 <span style=''>    </span><span style='background: #F0ADAD'>loadLevels()</span><span style=''>
</span>41 <span style=''>  }
</span>42 <span style=''>
</span>43 <span style=''>  /** The central level container */
</span>44 <span style=''>  protected val levelsContainer: TilePane = </span><span style='background: #F0ADAD'>new</span><span style=''> TilePane() {
</span>45 <span style=''>    </span><span style='background: #F0ADAD'>alignmentInParent = Pos.Center</span><span style=''>
</span>46 <span style=''>    </span><span style='background: #F0ADAD'>alignment = Pos.Center</span><span style=''>
</span>47 <span style=''>    </span><span style='background: #F0ADAD'>prefColumns = levels.size</span><span style=''>
</span>48 <span style=''>    </span><span style='background: #F0ADAD'>prefRows = 1</span><span style=''>
</span>49 <span style=''>    </span><span style='background: #F0ADAD'>prefHeight &lt;== parentStage.height</span><span style=''>
</span>50 <span style=''>  }
</span>51 <span style=''>
</span>52 <span style=''>  protected val buttonsContainer: VBox = </span><span style='background: #F0ADAD'>new</span><span style=''> VBox(10) {
</span>53 <span style=''>    </span><span style='background: #F0ADAD'>alignment = Pos.Center</span><span style=''>
</span>54 <span style=''>    </span><span style='background: #F0ADAD'>margin = Insets(0, 0, 40, 0)</span><span style=''>
</span>55 <span style=''>    </span><span style='background: #F0ADAD'>children = goBack</span><span style=''>
</span>56 <span style=''>  }
</span>57 <span style=''>
</span>58 <span style=''>  protected val container: VBox = </span><span style='background: #F0ADAD'>new</span><span style=''> VBox(10) {
</span>59 <span style=''>    </span><span style='background: #F0ADAD'>alignment = Pos.Center</span><span style=''>
</span>60 <span style=''>    /** Loading the levels */
</span>61 <span style=''>    </span><span style='background: #F0ADAD'>loadLevels()</span><span style=''>
</span>62 <span style=''>    </span><span style='background: #F0ADAD'>children = Seq(levelsContainer, buttonsContainer)</span><span style=''>
</span>63 <span style=''>  }
</span>64 <span style=''>
</span>65 <span style=''>  /** Setting the root container */
</span>66 <span style=''>  </span><span style='background: #F0ADAD'>root = container</span><span style=''>
</span>67 <span style=''>
</span>68 <span style=''>  /** Called when the user want to play a level
</span>69 <span style=''>    *
</span>70 <span style=''>    * @param levelInfo  the level info
</span>71 <span style=''>    * @param simulation true if the level must be started as a simulation, false otherwise
</span>72 <span style=''>    * @param custom     true if the level is a custom one, false otherwise
</span>73 <span style=''>    */
</span>74 <span style=''>  def onLevelPlayClick(levelInfo: LevelInfo, simulation: Boolean, custom: Boolean = false): Unit = {
</span>75 <span style=''>    /** Creating a listener on the run */
</span>76 <span style=''>    val upperLevelSceneListener: BackClickListener = () =&gt; {
</span>77 <span style=''>      </span><span style='background: #F0ADAD'>parentStage.scene = this</span><span style=''>; </span><span style='background: #F0ADAD'>reloadLevels()</span><span style=''>
</span>78 <span style=''>    }
</span>79 <span style=''>    /** Creating a new level scene */
</span>80 <span style=''>    val levelScene = </span><span style='background: #F0ADAD'>new LevelScene(parentStage, levelInfo, listener, upperLevelSceneListener)</span><span style=''>
</span>81 <span style=''>    /** Creating the level context */
</span>82 <span style=''>    val levelContext = </span><span style='background: #F0ADAD'>LevelContext(simulation)</span><span style=''>
</span>83 <span style=''>    </span><span style='background: #F0ADAD'>levelContext.setListener(levelScene)</span><span style=''>
</span>84 <span style=''>    </span><span style='background: #F0ADAD'>levelScene.levelContext = levelContext</span><span style=''>
</span>85 <span style=''>
</span>86 <span style=''>    /** Changing scene scene */
</span>87 <span style=''>    </span><span style='background: #F0ADAD'>parentStage.scene = levelScene</span><span style=''>
</span>88 <span style=''>
</span>89 <span style=''>    /** Notify the view the new context, if something goes bad, stay in this scene */
</span>90 <span style=''>    if (</span><span style='background: #F0ADAD'>!listener.onLevelContextCreated(levelContext, levelInfo.name, custom)</span><span style=''>) </span><span style='background: #F0ADAD'>parentStage.scene = this</span><span style=''>
</span>91 <span style=''>  }
</span>92 <span style=''>}
</span>93 <span style=''>
</span>94 <span style=''>/** Trait which gets notified when a LevelSelectionScene event occurs */
</span>95 <span style=''>trait LevelSelectionSceneListener extends LevelSceneListener {
</span>96 <span style=''>
</span>97 <span style=''>  /** This method called when the level context has been created
</span>98 <span style=''>    *
</span>99 <span style=''>    * @param levelContext the new level context
</span>100 <span style=''>    * @param level        the new level name
</span>101 <span style=''>    * @param isCustom     true if the level is custom, false otherwise
</span>102 <span style=''>    * @return true if the controller level initialization goes fine; otherwise false
</span>103 <span style=''>    */
</span>104 <span style=''>  def onLevelContextCreated(levelContext: LevelContext, level: String, isCustom: Boolean = false): Boolean
</span>105 <span style=''>
</span>106 <span style=''>  /** This method retrieves the levels that must be shown as node
</span>107 <span style=''>    *
</span>108 <span style=''>    * @return a list of LevelInfo
</span>109 <span style=''>    */
</span>110 <span style=''>  def getSingleLevels: List[LevelInfo]
</span>111 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          4892
        </td>
        <td>
          1211
          -
          1280
        </td>
        <td>
          ApplyImplicitView
        </td>
        <td>
          scalafx.scene.layout.VBox.sfxVBox2jfx
        </td>
        <td style="background: #F0ADAD">
          layout.this.VBox.sfxVBox2jfx(new it.unibo.osmos.redux.mvc.view.components.level.LevelNode(LevelSelectionScene.this, level, LevelSelectionScene.this.levels.indexOf[it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo](level)))
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          4891
        </td>
        <td>
          1211
          -
          1280
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.level.LevelNode.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new it.unibo.osmos.redux.mvc.view.components.level.LevelNode(LevelSelectionScene.this, level, LevelSelectionScene.this.levels.indexOf[it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo](level))
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          4894
        </td>
        <td>
          1157
          -
          1282
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.IterableLike.foreach
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levels.foreach[Boolean](((level: it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo) =&gt; LevelSelectionScene.this.levelsContainer.children.add(layout.this.VBox.sfxVBox2jfx(new it.unibo.osmos.redux.mvc.view.components.level.LevelNode(LevelSelectionScene.this, level, LevelSelectionScene.this.levels.indexOf[it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo](level))))))
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          4890
        </td>
        <td>
          1258
          -
          1279
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.GenSeqLike.indexOf
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levels.indexOf[it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo](level)
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          4893
        </td>
        <td>
          1182
          -
          1281
        </td>
        <td>
          Apply
        </td>
        <td>
          java.util.List.add
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levelsContainer.children.add(layout.this.VBox.sfxVBox2jfx(new it.unibo.osmos.redux.mvc.view.components.level.LevelNode(LevelSelectionScene.this, level, LevelSelectionScene.this.levels.indexOf[it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo](level))))
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          4895
        </td>
        <td>
          1406
          -
          1420
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.mutable.BufferLike.clear
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levels.clear()
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          4897
        </td>
        <td>
          1425
          -
          1467
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.mutable.BufferLike.appendAll
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levels.appendAll(LevelSelectionScene.this.listener.getSingleLevels)
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          4896
        </td>
        <td>
          1442
          -
          1466
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionSceneListener.getSingleLevels
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.listener.getSingleLevels
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          4898
        </td>
        <td>
          1583
          -
          1598
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.refreshLevels
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.refreshLevels()
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          4899
        </td>
        <td>
          1603
          -
          1635
        </td>
        <td>
          Apply
        </td>
        <td>
          java.util.List.clear
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levelsContainer.children.clear()
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          4900
        </td>
        <td>
          1640
          -
          1652
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.loadLevels
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.loadLevels()
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          4910
        </td>
        <td>
          1739
          -
          1742
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.$anon.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new $anon()
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          4901
        </td>
        <td>
          1780
          -
          1790
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.geometry.Pos.Center
        </td>
        <td style="background: #F0ADAD">
          scalafx.geometry.Pos.Center
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          4902
        </td>
        <td>
          1760
          -
          1790
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.Node.alignmentInParent_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.alignmentInParent_=(scalafx.geometry.Pos.Center)
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          4904
        </td>
        <td>
          1795
          -
          1817
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.delegate.AlignmentDelegate.alignment_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.alignment_=(scalafx.geometry.Pos.Center)
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          4903
        </td>
        <td>
          1807
          -
          1817
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.geometry.Pos.Center
        </td>
        <td style="background: #F0ADAD">
          scalafx.geometry.Pos.Center
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          4906
        </td>
        <td>
          1822
          -
          1847
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.TilePane.prefColumns_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.prefColumns_=(LevelSelectionScene.this.levels.size)
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          4905
        </td>
        <td>
          1836
          -
          1847
        </td>
        <td>
          Select
        </td>
        <td>
          scala.collection.SeqLike.size
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levels.size
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          4907
        </td>
        <td>
          1852
          -
          1864
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.TilePane.prefRows_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.prefRows_=(1)
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          4909
        </td>
        <td>
          1869
          -
          1902
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.beans.property.Property.&lt;==
        </td>
        <td style="background: #F0ADAD">
          $anon.this.prefHeight.&lt;==(LevelSelectionScene.this.parentStage.height)
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          4908
        </td>
        <td>
          1884
          -
          1902
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.stage.Window.height
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.parentStage.height
        </td>
      </tr><tr>
        <td>
          52
        </td>
        <td>
          4917
        </td>
        <td>
          1949
          -
          1952
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.$anon.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new $anon()
        </td>
      </tr><tr>
        <td>
          53
        </td>
        <td>
          4912
        </td>
        <td>
          1968
          -
          1990
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.delegate.AlignmentDelegate.alignment_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.alignment_=(scalafx.geometry.Pos.Center)
        </td>
      </tr><tr>
        <td>
          53
        </td>
        <td>
          4911
        </td>
        <td>
          1980
          -
          1990
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.geometry.Pos.Center
        </td>
        <td style="background: #F0ADAD">
          scalafx.geometry.Pos.Center
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4913
        </td>
        <td>
          2004
          -
          2023
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.geometry.Insets.apply
        </td>
        <td style="background: #F0ADAD">
          scalafx.geometry.Insets.apply(0.0, 0.0, 40.0, 0.0)
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          4914
        </td>
        <td>
          1995
          -
          2023
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.Node.margin_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.margin_=(scalafx.geometry.Insets.apply(0.0, 0.0, 40.0, 0.0))
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          4916
        </td>
        <td>
          2028
          -
          2045
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.Pane.children_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.children_=(LevelSelectionScene.this.goBack)
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          4915
        </td>
        <td>
          2039
          -
          2045
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.DefaultBackScene.goBack
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.goBack
        </td>
      </tr><tr>
        <td>
          58
        </td>
        <td>
          4925
        </td>
        <td>
          2085
          -
          2088
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.$anon.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new $anon()
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          4919
        </td>
        <td>
          2104
          -
          2126
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.delegate.AlignmentDelegate.alignment_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.alignment_=(scalafx.geometry.Pos.Center)
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          4918
        </td>
        <td>
          2116
          -
          2126
        </td>
        <td>
          Select
        </td>
        <td>
          scalafx.geometry.Pos.Center
        </td>
        <td style="background: #F0ADAD">
          scalafx.geometry.Pos.Center
        </td>
      </tr><tr>
        <td>
          61
        </td>
        <td>
          4920
        </td>
        <td>
          2161
          -
          2173
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.loadLevels
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.loadLevels()
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          4922
        </td>
        <td>
          2210
          -
          2226
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.buttonsContainer
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.buttonsContainer
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          4924
        </td>
        <td>
          2178
          -
          2227
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.layout.Pane.children_=
        </td>
        <td style="background: #F0ADAD">
          $anon.this.children_=(scala.collection.Seq.apply[scalafx.scene.layout.Pane with scalafx.delegate.AlignmentDelegate[_ &gt;: javafx.scene.layout.VBox with javafx.scene.layout.TilePane &lt;: javafx.scene.layout.Pane]](LevelSelectionScene.this.levelsContainer, LevelSelectionScene.this.buttonsContainer))
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          4921
        </td>
        <td>
          2193
          -
          2208
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.levelsContainer
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.levelsContainer
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          4923
        </td>
        <td>
          2189
          -
          2227
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.generic.GenericCompanion.apply
        </td>
        <td style="background: #F0ADAD">
          scala.collection.Seq.apply[scalafx.scene.layout.Pane with scalafx.delegate.AlignmentDelegate[_ &gt;: javafx.scene.layout.VBox with javafx.scene.layout.TilePane &lt;: javafx.scene.layout.Pane]](LevelSelectionScene.this.levelsContainer, LevelSelectionScene.this.buttonsContainer)
        </td>
      </tr><tr>
        <td>
          66
        </td>
        <td>
          4927
        </td>
        <td>
          2271
          -
          2287
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.Scene.root_=
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.root_=(LevelSelectionScene.this.container)
        </td>
      </tr><tr>
        <td>
          66
        </td>
        <td>
          4926
        </td>
        <td>
          2278
          -
          2287
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.container
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.container
        </td>
      </tr><tr>
        <td>
          77
        </td>
        <td>
          4928
        </td>
        <td>
          2765
          -
          2789
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.stage.Stage.scene_=
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.parentStage.scene_=(this)
        </td>
      </tr><tr>
        <td>
          77
        </td>
        <td>
          4929
        </td>
        <td>
          2791
          -
          2805
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.reloadLevels
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.reloadLevels()
        </td>
      </tr><tr>
        <td>
          80
        </td>
        <td>
          4931
        </td>
        <td>
          2910
          -
          2918
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.listener
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.listener
        </td>
      </tr><tr>
        <td>
          80
        </td>
        <td>
          4930
        </td>
        <td>
          2886
          -
          2897
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelSelectionScene.parentStage
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.parentStage
        </td>
      </tr><tr>
        <td>
          80
        </td>
        <td>
          4932
        </td>
        <td>
          2871
          -
          2944
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelScene.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new LevelScene(LevelSelectionScene.this.parentStage, levelInfo, LevelSelectionScene.this.listener, upperLevelSceneListener)
        </td>
      </tr><tr>
        <td>
          82
        </td>
        <td>
          4933
        </td>
        <td>
          3006
          -
          3030
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LevelContext.apply
        </td>
        <td style="background: #F0ADAD">
          it.unibo.osmos.redux.mvc.view.context.LevelContext.apply(simulation)
        </td>
      </tr><tr>
        <td>
          83
        </td>
        <td>
          4934
        </td>
        <td>
          3035
          -
          3071
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.context.LevelContext.setListener
        </td>
        <td style="background: #F0ADAD">
          levelContext.setListener(levelScene)
        </td>
      </tr><tr>
        <td>
          84
        </td>
        <td>
          4935
        </td>
        <td>
          3076
          -
          3114
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.LevelScene.levelContext_=
        </td>
        <td style="background: #F0ADAD">
          levelScene.levelContext_=(levelContext)
        </td>
      </tr><tr>
        <td>
          87
        </td>
        <td>
          4936
        </td>
        <td>
          3152
          -
          3182
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.stage.Stage.scene_=
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.parentStage.scene_=(levelScene)
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          4937
        </td>
        <td>
          3324
          -
          3338
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo.name
        </td>
        <td style="background: #F0ADAD">
          levelInfo.name
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          4940
        </td>
        <td>
          3349
          -
          3373
        </td>
        <td>
          Block
        </td>
        <td>
          scalafx.stage.Stage.scene_=
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.parentStage.scene_=(this)
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          4939
        </td>
        <td>
          3349
          -
          3373
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.stage.Stage.scene_=
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.parentStage.scene_=(this)
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          4942
        </td>
        <td>
          3274
          -
          3274
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          4938
        </td>
        <td>
          3278
          -
          3347
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Boolean.unary_!
        </td>
        <td style="background: #F0ADAD">
          LevelSelectionScene.this.listener.onLevelContextCreated(levelContext, levelInfo.name, custom).unary_!
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          4941
        </td>
        <td>
          3274
          -
          3274
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>