<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/scenes/MultiPlayerLevelSelectionScene.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.scenes
</span>2 <span style=''>
</span>3 <span style=''>import it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo
</span>4 <span style=''>import it.unibo.osmos.redux.mvc.view.components.level.LevelNodeListener
</span>5 <span style=''>import it.unibo.osmos.redux.mvc.view.components.multiplayer.{MultiPlayerLevelNode, User}
</span>6 <span style=''>import scalafx.stage.Stage
</span>7 <span style=''>
</span>8 <span style=''>import scala.collection.mutable
</span>9 <span style=''>
</span>10 <span style=''>/** Scene in which the user can choose a level to play in multiplayer mode
</span>11 <span style=''>  *
</span>12 <span style=''>  * @param parentStage   the parent stage
</span>13 <span style=''>  * @param listener      the listener
</span>14 <span style=''>  * @param upperListener the upper scene listener, which will be called to store the level selection
</span>15 <span style=''>  * @param user          the User
</span>16 <span style=''>  */
</span>17 <span style=''>class MultiPlayerLevelSelectionScene(override val parentStage: Stage, override val listener: MultiPlayerLevelSelectionSceneListener, val upperListener: UpperMultiPlayerLevelSelectionSceneListener, val user: User, previousSceneListener: BackClickListener)
</span>18 <span style=''>  extends LevelSelectionScene(parentStage, listener, previousSceneListener) with LevelNodeListener {
</span>19 <span style=''>
</span>20 <span style=''>  /** Multiplayer levels are always available */
</span>21 <span style=''>  override lazy val levels: mutable.Buffer[LevelInfo] = listener.getMultiPlayerLevels.toBuffer
</span>22 <span style=''>
</span>23 <span style=''>  override def loadLevels(): Unit = </span><span style='background: #F0ADAD'>levels foreach (level =&gt; levelsContainer.children.add(new MultiPlayerLevelNode(this, level)))</span><span style=''>
</span>24 <span style=''>
</span>25 <span style=''>  /** Overridden to manage multiplayer levels */
</span>26 <span style=''>  override def refreshLevels(): Unit = {
</span>27 <span style=''>    </span><span style='background: #F0ADAD'>levels.clear()</span><span style=''>
</span>28 <span style=''>    </span><span style='background: #F0ADAD'>levels.appendAll(listener.getMultiPlayerLevels)</span><span style=''>
</span>29 <span style=''>  }
</span>30 <span style=''>
</span>31 <span style=''>  override def onLevelPlayClick(levelInfo: LevelInfo, simulation: Boolean, custom: Boolean): Unit = </span><span style='background: #F0ADAD'>upperListener.onLevelSelected(levelInfo)</span><span style=''>
</span>32 <span style=''>}
</span>33 <span style=''>
</span>34 <span style=''>trait UpperMultiPlayerLevelSelectionSceneListener {
</span>35 <span style=''>
</span>36 <span style=''>  /** Called once when the user has selected a level
</span>37 <span style=''>    *
</span>38 <span style=''>    * @param levelInfo the level info
</span>39 <span style=''>    */
</span>40 <span style=''>  def onLevelSelected(levelInfo: LevelInfo): Unit
</span>41 <span style=''>
</span>42 <span style=''>}
</span>43 <span style=''>
</span>44 <span style=''>/** Trait which gets notified when a MultiPlayerLevelSelectionScene event occurs */
</span>45 <span style=''>trait MultiPlayerLevelSelectionSceneListener extends LevelSelectionSceneListener {
</span>46 <span style=''>
</span>47 <span style=''>  /** This method retrieves the multiplayer levels that must be shown as node
</span>48 <span style=''>    *
</span>49 <span style=''>    * @return a list of multiplayer levels
</span>50 <span style=''>    */
</span>51 <span style=''>  def getMultiPlayerLevels: List[LevelInfo]
</span>52 <span style=''>
</span>53 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          5032
        </td>
        <td>
          1200
          -
          1267
        </td>
        <td>
          Apply
        </td>
        <td>
          java.util.List.add
        </td>
        <td style="background: #F0ADAD">
          MultiPlayerLevelSelectionScene.this.levelsContainer.children.add(layout.this.VBox.sfxVBox2jfx(new it.unibo.osmos.redux.mvc.view.components.multiplayer.MultiPlayerLevelNode(this, level)))
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          5031
        </td>
        <td>
          1229
          -
          1266
        </td>
        <td>
          ApplyImplicitView
        </td>
        <td>
          scalafx.scene.layout.VBox.sfxVBox2jfx
        </td>
        <td style="background: #F0ADAD">
          layout.this.VBox.sfxVBox2jfx(new it.unibo.osmos.redux.mvc.view.components.multiplayer.MultiPlayerLevelNode(this, level))
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          5030
        </td>
        <td>
          1229
          -
          1266
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.components.multiplayer.MultiPlayerLevelNode.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new it.unibo.osmos.redux.mvc.view.components.multiplayer.MultiPlayerLevelNode(this, level)
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          5033
        </td>
        <td>
          1175
          -
          1268
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.IterableLike.foreach
        </td>
        <td style="background: #F0ADAD">
          MultiPlayerLevelSelectionScene.this.levels.foreach[Boolean](((level: it.unibo.osmos.redux.mvc.controller.levels.structure.LevelInfo) =&gt; MultiPlayerLevelSelectionScene.this.levelsContainer.children.add(layout.this.VBox.sfxVBox2jfx(new it.unibo.osmos.redux.mvc.view.components.multiplayer.MultiPlayerLevelNode(this, level)))))
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          5034
        </td>
        <td>
          1364
          -
          1378
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.mutable.BufferLike.clear
        </td>
        <td style="background: #F0ADAD">
          MultiPlayerLevelSelectionScene.this.levels.clear()
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          5036
        </td>
        <td>
          1383
          -
          1430
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.collection.mutable.BufferLike.appendAll
        </td>
        <td style="background: #F0ADAD">
          MultiPlayerLevelSelectionScene.this.levels.appendAll(MultiPlayerLevelSelectionScene.this.listener.getMultiPlayerLevels)
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          5035
        </td>
        <td>
          1400
          -
          1429
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.MultiPlayerLevelSelectionSceneListener.getMultiPlayerLevels
        </td>
        <td style="background: #F0ADAD">
          MultiPlayerLevelSelectionScene.this.listener.getMultiPlayerLevels
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          5037
        </td>
        <td>
          1536
          -
          1576
        </td>
        <td>
          Apply
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.scenes.UpperMultiPlayerLevelSelectionSceneListener.onLevelSelected
        </td>
        <td style="background: #F0ADAD">
          MultiPlayerLevelSelectionScene.this.upperListener.onLevelSelected(levelInfo)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>