<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src/main/scala/it/unibo/osmos/redux/mvc/view/drawables/CircleDrawable.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package it.unibo.osmos.redux.mvc.view.drawables
</span>2 <span style=''>
</span>3 <span style=''>import scalafx.scene.canvas.GraphicsContext
</span>4 <span style=''>import scalafx.scene.paint.Color
</span>5 <span style=''>
</span>6 <span style=''>/** Drawable implementation that shows a circle on the screen
</span>7 <span style=''>  *
</span>8 <span style=''>  * @param graphicsContext the GraphicContext on which the circle will be drawn on
</span>9 <span style=''>  */
</span>10 <span style=''>class CircleDrawable(val graphicsContext: GraphicsContext) extends Drawable {
</span>11 <span style=''>
</span>12 <span style=''>  /** Draws a circle on the canvas
</span>13 <span style=''>    *
</span>14 <span style=''>    * @param dw    the drawable wrapper containing the drawable info
</span>15 <span style=''>    * @param color the color
</span>16 <span style=''>    */
</span>17 <span style=''>  def draw(dw: DrawableWrapper, color: Color): Unit = {
</span>18 <span style=''>    </span><span style='background: #F0ADAD'>graphicsContext.fill = color</span><span style=''>
</span>19 <span style=''>    </span><span style='background: #F0ADAD'>graphicsContext.fillOval(dw.center.x - dw.radius, dw.center.y - dw.radius, dw.radius * 2, dw.radius * 2)</span><span style=''>
</span>20 <span style=''>  }
</span>21 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          4353
        </td>
        <td>
          566
          -
          594
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.canvas.GraphicsContext.fill_=
        </td>
        <td style="background: #F0ADAD">
          CircleDrawable.this.graphicsContext.fill_=(color)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          4354
        </td>
        <td>
          638
          -
          647
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.drawables.DrawableWrapper.radius
        </td>
        <td style="background: #F0ADAD">
          dw.radius
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          4356
        </td>
        <td>
          663
          -
          672
        </td>
        <td>
          Select
        </td>
        <td>
          it.unibo.osmos.redux.mvc.view.drawables.DrawableWrapper.radius
        </td>
        <td style="background: #F0ADAD">
          dw.radius
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          4359
        </td>
        <td>
          689
          -
          702
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Double.*
        </td>
        <td style="background: #F0ADAD">
          dw.radius.*(2)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          4355
        </td>
        <td>
          624
          -
          647
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Double.-
        </td>
        <td style="background: #F0ADAD">
          dw.center.x.-(dw.radius)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          4358
        </td>
        <td>
          674
          -
          687
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Double.*
        </td>
        <td style="background: #F0ADAD">
          dw.radius.*(2)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          4357
        </td>
        <td>
          649
          -
          672
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Double.-
        </td>
        <td style="background: #F0ADAD">
          dw.center.y.-(dw.radius)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          4360
        </td>
        <td>
          599
          -
          703
        </td>
        <td>
          Apply
        </td>
        <td>
          scalafx.scene.canvas.GraphicsContext.fillOval
        </td>
        <td style="background: #F0ADAD">
          CircleDrawable.this.graphicsContext.fillOval(dw.center.x.-(dw.radius), dw.center.y.-(dw.radius), dw.radius.*(2), dw.radius.*(2))
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>